<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>Home</title>
    <meta name="description" content="">
    <meta name="author" content="HackBulgaria">

    <link rel="shortcut icon" href="{{ STATIC_URL }}/assets/img/favicon.ico">
    <link rel="apple-touch-icon" href="/static/assets/img/apple-touch-icon.jpg">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/assets/img/apple-touch-icon-72x72.jpg">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/assets/img/apple-touch-icon-114x114.jpg">

    <link href='http://fonts.googleapis.com/css?family=Ubuntu:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/assets/css/animate.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/assets/css/font-awesome.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/assets/css/font-lineicons.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/assets/css/jquery.fancybox.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/assets/css/style.css" id="mainstyle" type="text/css" media="all" />
    <!--[if lt IE 9]>
        <script src="/static/assets/js/html5.js"></script>
        <script src="/static/assets/js/respond.min.js"></script>
        <![endif]-->
</head>

<body id="index">

    <!-- Preloader -->
    <div id="mask">
        <div id="loader"><img src="/static/assets/img/preloader.gif" alt="preloader" /></div>
    </div>
    <header id="mobileheader" class="navigation-bar-header light visible-xs"></header>
    <!-- Hero Section -->
    <section id="hero" class="light color">
        <div class="overlay color"></div>
        <div class="container">
            <div class="home-bg">
                <nav class="navigation navigation-social">
                    <ul class="navigation-bar">
                        <li><a href="#"><span class="fa fa-twitter"></span></a>
                        <li><a href="#"><span class="fa fa-facebook"></span></a>
                        <li><a href="#"><span class="fa fa-github"></span></a>
                        <li><a href="#"><span class="fa fa-vimeo-square"></span></a>
                        <li><a href="#"><span class="fa fa-google-plus"></span></a>
                    </ul>
                </nav>
                <div class="hero-content text-center ">
                    <div class="hero-small">
                        <hr /><span>19 - 20 Септември, НДК София </span><hr />
                    </div>
                    <div class="hero-big">
                        <img src="{{ STATIC_URL }}/assets/img/conf_logo_1.png" alt="HackConf Logo">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero Section -->
    <!-- Header -->
    <header id="header" class="navigation-bar-header light hidden-xs">
        <div class="container">
            <nav class="navigation">
                <div class="navigation-txt visible-xs" data-toggle="dropdown">Home</div>
                <button class="navigation-toggle visible-xs" type="button" data-toggle="dropdown">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <ul class="navigation-bar navigation-bar-left">
                    <li><a href="#about">За конференцията</a></li>
                    <!--<li><a href="#stat">Number Facts</a></li>-->
                    <!-- <li><a href="#schedule">Schedule</a></li> -->
                    <!-- <li><a href="#speakers">Speakers</a></li> -->
                    <!-- <li><a href="#elements">Shortcodes</a></li> -->
                    <li><a href="#sponsors">Спонсори</a></li>
                    <li><a href="#map">Контакти</a></li>
                    <li class="featured"><a href="register.html"><i class="fa fa-ticket fa-1x"></i>Регистрация</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- End Header -->
    <!-- About Section -->
    <section id="about" class="section dark">
        <div class="container">
        <div class="icon-wrap"><span class="icon icon-active icon-multimedia-12"></span></div>
        <h3>Business meets Innovation</h3>
        <div class="sub-title">Starting your own IT business and picking right niche in less then <span class="highlight">29 days</span></div>
        <br />
        <br />
        <section class="nav-tabs-simple">
          <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a href="#htmlcss" data-toggle="tab"><i class="icon icon-chat-messages-01"></i> Topics</a></li>
            <li><a href="#jquery" data-toggle="tab"><i class="icon icon-education-science-11"></i> Workshops</a></li>
            <li><a href="#php" data-toggle="tab"><i class="icon icon-ocuments-bookmarks-12"></i> About us</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane fade in active" id="htmlcss">
                <article class="row">
                    <div class="col-md-5 col-sm-5 animated hiding" data-animation="fadeInLeft" data-delay="500">
                        <img class="img-responsive" src="/static/assets/img/about-placeholder-starbucks.jpg" alt="starbuck" />
                    </div>
                    <div class="col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInRight" data-delay="500">
                        <h6>What you will learn</h6>
                        <p>Lorem Ipsum is simply dummy <strong>text</strong> of the printing and typesetting industry. <span class="highlight">jQuery</span> Lorem Ipsum is simply dummy text of the printing and typesetting industry. HTML & CSS It is a long established fact that a reader will be distracted by the readable <a href="#">content</a>.</p>
                        <ul class="sub-list">
                            <li><i class="icon icon-documents-bookmarks-16"></i> Lorem ipsum dolor sit atmet</li>
                            <li><i class="icon icon-documents-bookmarks-11"></i> Lorem ipsum dolor sit atmet</li>
                            <li><i class="icon icon-documents-bookmarks-10"></i> Lorem ipsum dolor sit atmet</li>
                        </ul>
                    </div>
                </article>
            </div>
            <div class="tab-pane fade" id="jquery">
                <article class="row">
                    <div class="col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInLeft" data-delay="500">
                        <h6>What we will do</h6>
                        <p>Lorem Ipsum is simply dummy <strong>text</strong> of the printing and typesetting industry. <span class="highlight">jQuery</span> Lorem Ipsum is simply dummy text of the printing and typesetting industry. HTML & CSS It is a long established fact that a reader will be distracted by the readable <a href="#">content</a>.</p>
                        <ul class="sub-list">
                            <li><i class="icon icon-documents-bookmarks-16"></i> Lorem ipsum dolor sit atmet</li>
                            <li><i class="icon icon-documents-bookmarks-11"></i> Lorem ipsum dolor sit atmet</li>
                            <li><i class="icon icon-documents-bookmarks-10"></i> Lorem ipsum dolor sit atmet</li>
                        </ul>
                    </div>
                    <div class="col-md-5 col-sm-5 animated hiding" data-animation="fadeInRight" data-delay="500">
                        <img class="img-responsive" src="/static/assets/img/about-placeholder-mbp.jpg" alt="placeholder" />
                    </div>
                </article>
            </div>
            <div class="tab-pane fade" id="php">
                <article class="row">
                    <div class="col-md-5 col-sm-5 animated hiding" data-animation="fadeInLeft" data-delay="500">
                        <img class="img-responsive" src="/static/assets/img/about-placeholder-iphone.jpg" alt="iphone" />
                    </div>
                    <div class="col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInRight" data-delay="500">
                        <h6>About Ventcamp conference</h6>
                        <p>Lorem Ipsum is simply dummy <strong>text</strong> of the printing and typesetting industry. <span class="highlight">jQuery</span> Lorem Ipsum is simply dummy text of the printing and typesetting industry. HTML & CSS It is a long established fact that a reader will be distracted by the readable content.</p>
                        <p>Lorem Ipsum is simply dummy <strong>text</strong> of the printing and typesetting industry. <span class="highlight">jQuery</span> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Distracted by the readable <a href="#">content</a>.</p>
                    </div>
                </article>
            </div>
        </div>
    </section>
</div>

    <section id="newsletter" class="section light">
        <div class="overlay"></div>
        <div class="container">
            <article class="article-big animated hiding" data-animation="fadeInDown" data-delay="0">
                <h5>Регистрация за <span class="highlight">hackconf</span></h5>
                <p><span class="highlight">Без спам</span> само ще ви напомним когато наближи.</p>
                <form id="subscribe" class="form" method="post">
                    <div class="form-group form-inline">
                        <input type="email" class="form-control required" id="NewsletterEmail" name="NewsletterEmail" placeholder="your@email.com" />
                        <input type="submit" class="btn btn-xs btn-default" value="Регистрирай се!" />
                    </div>

                </form>
            </article>
        </div>
    </section>

    <section id="register" class="section light">
        <div class="overlay"></div>
        <div class="container">
            <article class="article-big animated hiding" data-animation="fadeInUp" data-delay="0">
                <h5>Register to a Ventcamp right now!</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <br/>
                <a href="#" class="btn btn-sm btn-tertiary">Register</a>
            </article>
        </div>
    </section>

    <section id="sponsors" class="section dark">
        <div class="container">
            <div class="icon-wrap"><span class="icon icon-active icon-documents-bookmarks-12"></span></div>
            <h3>Спонсори</h3>
            <div class="sub-title">Lorem ipsum dolor sit amet</div>
            <br/>
            <div class="row">
                <ul class="list-inline">
                    {% for sponsor in sponsors %}
                        <li><a href="{{ sponsor.website }}" target="_blank"><img src="{{ MEDIA_URL }}{{ sponsor.picture }}" alt="sponsor-{{ forloop.counter }}" /></a></li>
                    {% endfor %}
                </ul>

                <div class="btn-wrapper">
                    <a href="#" class="btn btn-sm btn-primary">Become a sponsor</a>
                </div>
            </div>
        </div>
    </section>

    <section id="map" class="dark">
        <div id="canvas-map"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-7 animated hiding location" data-animation="fadeInLeft" data-delay="0">
                    <h3>Локация</h3>
                    <ul itemscope="" itemtype="http://schema.org/PostalAddress">
                        <li itemprop="address"><i class="fa fa-map-marker highlight"></i>
                            <span property="streetAddress">
                              НДК - бул. "България" 1
                          </span>
                        </li>
                        <li itemprop="email"><i class="fa fa-envelope highlight"></i>conf@hackbulgaria.com</li>
                        <!-- <li itemprop="telephone"><i class="fa fa-phone highlight"></i>(518) 457-5181</li> -->
                        <li itemscope="" itemtype="http://schema.org/Event"><i class="fa fa-clock-o highlight"></i>
                            <time itemprop="startDate" datetime="2015-05-25T07:30">9:30</time> -
                            <time itemprop="endDate" datetime="2015-05-28T22:00">23:00</time>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <footer id="footer">

    </footer>

    <div class="back-to-top"><i class="fa fa-angle-up fa-3x"></i></div>

    <!--[if lt IE 9]>
    <script type="text/javascript" src="/static/assets/js/jquery-1.11.0.min.js?ver=1"></script>
    <![endif]-->
    <!--[if (gte IE 9) | (!IE)]><!-->
    <script type="text/javascript" src="/static/assets/js/jquery-2.1.0.min.js?ver=1"></script>
    <!--<![endif]-->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
    <script type="text/javascript" src="/static/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/assets/js/jquery.nav.js"></script>
    <script type="text/javascript" src="/static/assets/js/jquery.appear.js"></script>
    <script type="text/javascript" src="/static/assets/js/jquery.countTo.js"></script>
    <script type="text/javascript" src="/static/assets/js/waypoints.min.js"></script>
    <script type="text/javascript" src="/static/assets/js/waypoints-sticky.min.js"></script>
    <script type="text/javascript" src="/static/assets/js/jquery.fancybox.js"></script>
    <script type="text/javascript" src="/static/assets/mailchimp/js/mailing-list.js"></script>
    <script type="text/javascript" src="/static/assets/js/scripts.js"></script>
</body>
</html>
