<!doctype html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <title>Home</title>
  <meta name="description" content="PSD to HTML5+CSS3 conversion.">
  <meta name="keywords" content="PSD, HTML5, CSS3">
  <meta name="author" content="Erwin Kaddy">

  <link rel="shortcut icon" href="/static/assets/img/favicon.ico">
  <link rel="apple-touch-icon" href="/static/assets/img/apple-touch-icon.jpg">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/assets/img/apple-touch-icon-72x72.jpg">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/assets/img/apple-touch-icon-114x114.jpg">

  <link href='http://fonts.googleapis.com/css?family=Ubuntu:700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css" type="text/css" media="all" />
  <link rel="stylesheet" href="/static/assets/css/animate.css" type="text/css" media="all" />
  <link rel="stylesheet" href="/static/assets/css/font-awesome.min.css" type="text/css" media="all" />
  <link rel="stylesheet" href="/static/assets/css/font-lineicons.css" type="text/css" media="all" />
  <link rel="stylesheet" href="/static/assets/css/jquery.fancybox.css" type="text/css" media="all" />
  <link rel="stylesheet" href="/static/assets/css/style.css" id="mainstyle" type="text/css" media="all" />
  <link rel="stylesheet" href="/static/assets/css/toastr.min.css" type="text/css" media="all" />


  <!--[if lt IE 9]>
  <script src="/static/assets/js/html5.js"></script>
  <script src="/static/assets/js/respond.min.js"></script>
  <![endif]-->
</head>

<body id="index" class="register-page">

<header id="mobileheader" class="navigation-bar-header light visible-xs"></header>
<!-- Hero Section -->
<section id="hero" class="light">
  <div class="container">
    <div class="home-bg">
      <div class="hero-content text-center ">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2>Thank you for your registration</h2>
              <div class="sub-title">event information will be send to you within 24 hours.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Hero Section -->

<!--[if lt IE 9]>
<script type="text/javascript" src="/static/assets/js/jquery-1.11.0.min.js?ver=1"></script>
<![endif]-->
<!--[if (gte IE 9) | (!IE)]><!-->
<script type="text/javascript" src="/static/assets/js/jquery-2.1.0.min.js?ver=1"></script>
<!--<![endif]-->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
<script type="text/javascript" src="/static/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/assets/js/jquery.nav.js"></script>
<script type="text/javascript" src="/static/assets/js/jquery.appear.js"></script>
<script type="text/javascript" src="/static/assets/js/jquery.countTo.js"></script>
<script type="text/javascript" src="/static/assets/js/waypoints.min.js"></script>
<script type="text/javascript" src="/static/assets/js/waypoints-sticky.min.js"></script>
<script type="text/javascript" src="/static/assets/js/jquery.fancybox.js"></script>
<script type="text/javascript" src="/static/assets/mailchimp/js/mailing-list.js"></script>
<script type="text/javascript" src="/static/assets/js/jquery.validate.js"></script>
<script type="text/javascript" src="/static/assets/js/toastr.min.js"></script>
<script type="text/javascript" src="/static/assets/js/form-validation.js"></script>
<script type="text/javascript" src="/static/assets/js/scripts.js"></script>
</body>
</html>