button, input {
  border-radius: 0;
}

.btn {
  border-radius:0;
}

$yellow: #FFCB57;
$orange: #F7931E;
$gray: #F2F2F2;

.ease1s{
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
html {
    height: 100%;
}
body {
    padding: 0;
    margin: 0;
    background: $gray;
    height: 100%;
    #page-wrap {
        min-height: 100%;
        /* equal to footer height */
        margin-bottom: -100px;
        &:after {
            content: "";
            display: block;
            height: 100px;
        }
        #header {
            background: black;
            list-style: none;
            #logo {
                float: left;
                padding: 12px 20px 0 20px;
                width: 260px;
                @media screen and (max-width: 400px) {
                  width: 250px;
                }
            }
            #login-form {
                padding-top: 30px;
            }


            #user-profile-menu {
                width: 30px;
                height: 30px;
                margin-top: -10px;
                margin-bottom: -10px;
            }
        }

        #faces {
            margin: 0;
            #moto {
                text-align: center;
                * {
                    display: inline;
                }
            }
            .person {
                background: white;
                padding: 0;
                box-shadow: 0px 10px 20px #888888;
                float: left;
                width: 16.66%;
                @media screen and (max-width: 1145px) {
                    &:last-of-type {
                        display: none;
                    }
                    width: 20%;
                }

                @media screen and (max-width: 750px) {
                    &:nth-last-of-type(2) {
                        display: none;
                    }
                    width: 25%;

                }

                @media screen and (max-width: 500px) {
                    &:nth-last-of-type(3) {
                        display: none;
                    }
                    width: 33.33%;

                }

                @media screen and (max-width: 400px) {
                    &:nth-last-of-type(4) {
                        display: none;
                    }
                    width: 50%;

                }

                &:hover {
                    box-shadow: 0px 10px 20px #222222;
                }
                .person-image {
                    width: 100%;
                    padding-bottom: 5px;
                }
                .name {
                    font-size: 120%;
                    font-weight: 600;
                    padding: 10px;
                }
                .position {
                    padding: 10px;
                    font-size: 90%;
                }
                .person-description {
                    @media screen and (max-width: 980px) {
                        font-size: 0.67em;
                    }
                }
                @extend .ease1s;
            }
        }

        #action-buttons {
            padding-top: 20px;
            padding-bottom: 30px;
            button {
                font-size: 120%;
            }

            #left-action {
                float: right;
                padding: 16px;
                background: $orange;
                border: none;
                color: white;
            }
            #right-action {
                color: $orange;
                float: left;
                padding: 14px;
                background: white;
                border: 2px solid black;
            }
        }
        #partners {
            .partner {
                background: white;
                padding: 10px;
                margin: 4vw;
                width: 40vw;
                height: 40vw;
                @media screen and (min-width: 970px) {
                    width: 14vw;
                    height: 14vw;
                    margin: 10px;
                }
                float: none;
                display:inline-block;
                opacity: 0.6;
                @extend .ease1s;
                cursor:pointer;
                &:hover{
                    opacity:1.0;
                }
                .partner-image {
                    position: absolute;
                    top: 50%;
                    left: 4%;
                    width: 92%;
                    transform: translateY(-50%);
                }
                .partners_play_button {
                    width: 4vmax;
                    height: 4vmax;
                    left: 50%;
                    top: 50%;
                    z-index: 1;
                    position: absolute;
                    margin-left: -2vmax;
                    margin-top: -2vmax;
                }

                .started-count {
                    font-size: 40px;
                    text-align: center;
                }
            }
        }

        #videos {
            background: url('/static/website_images/background_pattern.png');
            padding-top: 10px;
            padding-bottom: 40px;
            margin-top: 40px;

            .video {
                padding: 10px;
                &:hover .video-thumb{
                    box-shadow: 0px 10px 20px #222222;
                }
                .play_button {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 84px;
                    margin: -46px;
                }
                .video-thumb {
                    box-shadow: 0px 10px 20px #888888;
                    width: 100%;
                    @extend .ease1s;
                }
            }
        }

        #before-footer {
          margin-bottom: 15px;
        }
    }

    #footer {
        background: $orange;
        color: white;

        -webkit-box-shadow: 0px -4px 3px rgba(182, 182, 182, 0.75);
        -moz-box-shadow: 0px -4px 3px rgba(182, 182, 182, 0.75);
        box-shadow: 0px -4px 3px rgba(182, 182, 182, 0.75);
        .heading {
            font-weight: bold;
            font-size: 110%;
        }
        .links  {
            a {
                color: #FFF;
            }
            ul {
                padding: 5px;

                li {
                    list-style-type: none;
                }
            }
        }
        .email-input {
            width: 80%;
            padding: 5px;
            border: none;
            color: black;
        }
        .button {
            background: black;
            border: 0px;
            padding: 5px 10px 5px 10px;
            margin: 10px 0 10px 0;
        }
        #socials {
            text-align:center;
            padding: 10px 0 25px 0;
            a {
                padding: 5px;
                text-decoration: none;
                color: white;
            }
        }
    }
}

// about page
$FutureSeniors: #E22A37;
$QualityEducation: #FEB300;
$InformalAndFriendly: #5080AD;
$EngagingTeachers: #FE8700;
$Math: #5A4385;
$MorePractice: #548000;
$RealWorldPractice: #FE4E00;
$TeamWork: #B453C8;
$ModerateCompetition: #56CB00;
$TabBorder: #C5C4C4;

.text-card {
  padding-top: 100px;
}

#future-seniors-card {
  background-color: $FutureSeniors;
}

#quality-education-card {
  background-color: $QualityEducation;
}

#informal-and-friendly-card {
  background-color: $InformalAndFriendly;
}

#engaging-teachers-card {
  background-color: $EngagingTeachers;
}

#math-card {
  background-color: $Math;
}

#more-practice-card {
  background-color: $MorePractice;
}

#real-world-practice-card {
  background-color: $RealWorldPractice;
}

#team-work-card {
  background-color: $TeamWork;
}

#moderate-competiton-card {
  background-color: $ModerateCompetition;
}

.container {
    section {
        &:nth-of-type(2n + 1) {
            div.cards {
                float: left;
            }
            div.text-card {
                float: right;
            }
        }
    }

    #user-avatar{
        border: 2px solid #9D9898;
        width: 250px;
        height: 250px;
    }

    #usernames{
        font-size: 30px;
    }

    .course-campaign-container {
      width: 45%;
      display: inline-block;

      .course-campaign-info {
        display: inline-block;
      }
    }

    .generate-interviews-box {
      margin-top: 20px;
      font-size: 14px;
    }

    .course-students {

      .course-name-div {
        font-size: 18px;
        margin-bottom: 5px;
        a {
          text-decoration: none;
          color: #f7931e;
        }
        @media screen and (max-width: 388px) {
          font-size: 15px;
        }
        @media screen and (max-width: 325px) {
          font-size: 14px;
        }

        .course-name {
          padding-left: 10px;
          display: inline-block;
        }
      }

      .student-box {
        margin-bottom: 30px;
        padding-bottom: 10px;
        background: white;
        background: #f6f6f6;;
        display: inline-block;
        position: relative;
        box-shadow: 0 8px 8px rgba(0,0,0,0.12), 0 8px 8px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);

        &:hover {
          box-shadow: 0 15px 15px rgba(0,0,0,0.25), 0 15px 15px rgba(0,0,0,0.22);
        }


        hr {
          width:100%;
          border-top: 1px solid #f8d5ac;
        }

        a {
          text-decoration: none;
          color: #f7931e;
        }

        .lines {
          margin-top: -5px;
          width:100%;
          border-top: 1px solid #f8d5ac;
        }

        .student-profile-photo {
          width: 100%;
          margin-top: 10px;
          margin-bottom: 5px;
        }

        .student-comment-from-teacher {
          background-color: #f6f6f6;
          border: 1px solid #f8d5ac;
          width: 100%;
          height: 100px;
          margin-bottom: 5px;
          overflow:hidden;
          border-radius: 5px;
        }

        .students-course-btns {
          margin-top: 20px;
        }

        .student-social-links {
          font-size: 2em;
        }

        .student-notes {
          margin-top: 1%;

          .note {
            margin-top: 3px;
            border: 2px solid  #f8d5ac;

            .note-author-title, .note-text-title {
              font-weight: bold;
              text-align: center;
            }
            .note-author, .note-author-title, .note-date {
              text-align: center;
            }
            .note-text {
              border-left: 2px solid  #f8d5ac;
              border-right: 2px solid  #f8d5ac;
            }
          }
        }

      }
    }

}

.dropdown-menu {
    margin-top: 20px;
}

.active-courses-container {
    text-align: center;
    margin-bottom: 50px;
}

.course-logo-container{
    margin-bottom: 40px;
    a:hover {
        text-decoration: none;
    }
    #course-avatar-active {
      text-decoration: none;
        &:hover {
        color: #f7931e;
        }
    }
    #course-avatar-inactive {
      text-decoration: none;
        &:hover {
        color: #848484;
        }
    }
    #course-name {
      font-size: 16px;
    }
}

.course-logo {
    font-size: 12em;
    position: relative;
}

.breadcrumb {
    margin-top: 20px;
}

#course-details-breadcrumb {
    font-size: 20px;
}

#details-apply-button {
    margin-top: 30px;
}

#course_video {
    .video {
        padding: 10px;
        &:hover .video-thumb{
            box-shadow: 0px 10px 20px #222222;
        }
        .play_button {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 84px;
            margin: -46px;
        }
        .video-thumb {
            box-shadow: 0px 10px 20px #888888;
            max-width: 100%;
            max-height: 100%;
            @extend .ease1s;
        }
    }
}

.course-details-video {
    margin: 1%;
    max-width: 640px;
    max-height: 360px;
}

.course-teacher-image {
    width: 230px;
    height: 230px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    float: none;
    cursor:pointer;
    display:inline-block;
    .image {
        padding: 1px;
        border: solid 1px #EFEFEF;
        opacity:0.7;
        position: absolute;
        top: 50%;
        left: 4%;
        width: 92%;
        transform: translateY(-50%);
        &:hover{
            border: solid 3px #CCC;
            -moz-box-shadow: 1px 1px 5px #999;
            -webkit-box-shadow: 1px 1px 5px #999;
            box-shadow: 1px 1px 5px #999;
            opacity:1.0;
            transition: 0.3s ease;
        }
    }
    a {
        &:hover{
            text-decoration: none;
        }
    }
    .course_teacher_name {
        font-size: 14px;
        font-weight: bold;
    }

}

.active-teacher-info {
    border: 1px solid $TabBorder;
    border-bottom: 2px solid #F2F2F2;
    border-radius: 10px 10px 0 0;
    z-index: 1;
    text-align: center;
    padding: 6px;
    margin: 0px !important;
}

.teacher-info {
    margin-top: 7px;
    padding-top: 20px;
    border-top: 1px solid $TabBorder;
    z-index: 0;
    // -webkit-box-shadow: 3px 3px 4px #9E9E9E;
    // -moz-box-shadow: 3px 3px 4px #9E9E9E;
    // box-shadow: 3px 3px 4px #9E9E9E;
}

.active-teacher-image {
    border: solid 3px #CCC;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
    opacity:1.0 !important;
}

.teacher-info-container{
    position: relative;
    text-align: center;
}

.teacher-info-hidden {
    display: none;
}

.course-partner-image {
    width: 161px;
    height: 161px;
    margin: 10px;
    float: none;
    cursor:pointer;
    display:inline-block;
    background: white;
    @extend .ease1s;
    opacity: 0.6;
    .image {
        position: absolute;
        top: 50%;
        left: 4%;
        width: 92%;
        transform: translateY(-50%);
    }
    .play_button {
        width: 4vmax;
        height: 4vmax;
        left: 50%;
        top: 50%;
        z-index: 1;
        position: absolute;
        margin-left: -2vmax;
        margin-top: -2vmax;
    }
    &:hover{
        opacity:1.0;
    }
}

.aplly-button-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.apply-button {
    font-size: 24px;
}

.name-course {
  font-size: 30px;
}

@media screen and (max-width: 600px) {
    .text-card, .card {
        float: right !important;
    }
}

.cards{
    img{
        width:100%;
    }
}

@media screen and (max-width: 995px) {
    .text-card{
        padding-top: 0px;
    }
}

@media screen and (max-width: 600px) {
    .cards{
        width:100% !important;
    }
    .text-card{
        width:100% !important;
        min-height: 100px;
        padding-top: 0px;
    }
}

.login-container{
    max-width:400px;
    margin-top:50px;
    margin-bottom:50px;

    .error{
        font-weight: bold;
        color:#a94442;
        padding-left:10px;
        padding-top:10px;
        padding-bottom:10px;
        margin-bottom:10px;
    }

    .profile-img-container{
        text-align: center;
        margin-bottom:50px;
        .img-circle{
            width:96px;
            height:96px;
            border:2px solid;
        }
    }

    .btn-login{
        width:100%;
        margin-bottom:20px;
    }

    .reg-img-container {
      .img-circle {
        width: 22px;
        height: 22px;
        margin-left: 340px;
        margin-top: -232px;

        @media screen and (max-width: 600px) {
          margin-left: 280px;
        }

        @media screen and (max-width: 340px) {
          margin-left: 260px;
          margin-top: -272px;
        }
      }
    }
}


#suggestion-dropdown {
    position:absolute;
    padding:5px;
    padding-right:10px;
    border:1px solid #ccc;
    background-color:white;
    display:none;

    ul{
        list-style-type: none;
        padding:0;
        margin:0;

        li{
            white-space: nowrap;
            cursor: pointer;

            &.selected{
                background-color: #9E9E9E;
            }
        }
    }
}

#ui-datepicker-div{
    border-radius: 5px;
}

.ui-datepicker{
    .ui-datepicker-header {
        background-color: #F7931E;
        border-color:#5A5555;
    }
}

.ui-datepicker .ui-datepicker-title select {
    background-color: #F7931E;
    border-color:#F7931E;
    color:#000;
}

.ui-widget-content {
    border: 1px solid #F7931E;
}

.ui-state-default, .ui-widget-content .ui-state-default {
    border: 1px solid #F7931E;
}

.ui-state-hover, .ui-widget-content .ui-state-hover {
    background-color: #F7931E;
}

#div_id_full_image{
  visibility: hidden;
  height:0;
}

.row-profile {
  margin-top: 50px;
  font-size: 14px;


  &.edit-profile {

    .editable-user-avatar {
      width:250px;
      height:250px;
      position:relative;
      cursor:pointer;
      text-align: center;

      .glyphicon{
        font-size:50px;
        position:absolute;
        width:250px;
        line-height:250px;
        color:white;
        opacity:0;
        transition: all 1s ease;
      }

      &:before{
        content: "";
        display:block;
        position:absolute;
        width:100%;
        height:100%;
        // border-radius: 50%;
        left:0;
        top:0;
        background-color:black;
        opacity:0;
        transition: all 2s ease;
      }

      &:hover{
        &:before {
          transition: all 1s ease;
          opacity:0.6;
        }
        .glyphicon{
          transition: all 1s ease;
          opacity:1;
        }
      }
    }
  }

  #user-name {
    font-size: 20px;
  }

  #profile-socials {
    font-size: 2em;
  }

  .interviews {
    max-width: 80%;
    margin-left: 25px;

    img {
      width: 25px;
    }
  }

}

#edit-app {
  margin-top: 10px;
}
#update-app {
  width: 100%;
}

.dribbble {
    font-size: 80%;
}

.btn-hack {
    background: $orange;
    color: #FFF;
    margin-bottom: 10px;
    &:hover {
        color: #FFF;
    }
}

.btn-hack-info {
    background: #E1E1E1;
    color: black;
    margin-bottom: 10px;
    &:hover {
        color: black;
    }
}

.course-box {
    padding: 0;
    margin-bottom: 40px;
    background: white;
    background: #fff;
    display: inline-block;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    &:hover {
      box-shadow: 0 1px 1px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
    }

    .course-text {
        text-align: left;

        #course-socials {
          font-size: 2em;
        }

        .course-teachers {
          display: inline-block;
          padding-left: 0;
        }


        #course-name {
          margin-right: 25%;
          @media screen and (max-width: 1197px) {
              margin-right: 8%;
          }

        }

        .course-name-tasks-link {
          display: inline-block;
        }

        .course-btns {
          margin-top: 20px;

          #materials-link, #students-link, #tasks-link, #info-link {
            width: 70%;
          }

          a button {
            margin-top: 5px;
            text-align: center;
            white-space: normal;

            @media screen and (max-width: 992px) {
              margin-right: 5%;
              margin-left: 15%;
            }
          }

          @media screen and (max-width: 1200px) {
            padding-left: 0px;
            padding-right: 0px;
            width: 30%;
          }

          @media screen and (max-width: 765px) {
            margin-left: 20%;
            margin-bottom: 10px;
            width: 60%;
          }
        }

        .course-information {
            @media screen and (max-width: 1200px) {
              width: 70%;
            }
        }

    }

    .course-logo {
        width: 100%;
        padding: 15px;
        @media screen and (max-width: 836px) {
          width: 50%;
        }

    }

    .hidden-toggle {
      display: none;
      width: 80%
    }

    .course-box-footer {
      background: #E1E1E1;;
      padding: 10px;
      margin-top: 5px;
      position: relative;

      .check-in {
        cursor: pointer;
      }

      .check-in-table {
        background-color: white;
        margin-top: 10px;
        padding-left: 0px;
        padding-right: 0px;

        .not-check-in-date {
          background-color: rgba(255, 0, 0, 0.38);
        }

        .check-in-date {
          background-color: rgba(130, 203, 130, 0.75);
        }

        .future-date {
          background-color: rgba(128, 128, 128, 0.07);
        }
      }
    }

    .check-in-footer {
      background-color: #E1E1E1;
    }
}


.apply-form {
    h1 {
        padding-bottom: 30px;
    }
}

.application-list {
    text-align: center;
    .logo {
        width: 100%;
    }
}

#interview-slots-table {
  th, td {
    padding: 8px;
    text-align: left;
  }
  th {
      background-color: #ec971f;
      color: white;
  }
  tr:hover {
    background-color: #ddd;
  }
}

.confirm-interview-container {
  margin-top:30px;

  #user-name {
    margin-left: 30%;
  }
  #confirm_interview-btn {
    margin-left: 30%;
    padding: 15px;
    font-size: 16px;
  }

  .confirm-interview-box {
    margin-left: 10%;
    margin-right: 10%;


    .hb-logo{
      #hb-regards {
        text-align: right;
      }
      img {
        width: 30px;
      }
    }
  }
}

.active-tasks-container {

  #submit-task-box {
    margin-left: 43%;
  }

  #no-task-solution {
    padding-left: 10%;
  }

  .panda-loading-gif {
    height: 50px;
  }

  .panda-sleeps {
    height: 40px;
  }

  .last-solution-status {
    padding-left: 8%;
  }

  .task-solution-link {
    text-decoration: none;
    color: #f7931e;
  }

  .student-name {
    text-align: center;
  }

  .teacher-table {
    text-align: center;
    th {
      text-align: center;
    }

    .gradable-checked {
      color: #4ba74b;
      font-size: 18px;
    }

    .gradable-unchecked {
      color: #d12c2c;
      font-size: 18px;
    }
  }

}

.task-name-container, .material-name-container {
  background-color: #E1E1E1;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-left: 6%;
  padding-bottom:15px;
  font-size: 18px;
  @media screen and (max-width: 622px) {
      height: 70px;
  }
  @media screen and (max-width: 360px) {
      height: 80px;
  }

  .solution-created-at, .dates-week {
    float: right;
    padding-right: 5%;
    display: inline-block;
    font-size: 14px;
    margin-top: 4px;
  }


}


.solution-status, .last-solution-status{
  .fail-status-solution{
    color: #b70202;
  }
  .pass-status-solution{
    color: green;
  }
}


.task-test-output {
  width: 90%;
  word-wrap: break-word;
}

.solutions-task-div, .material-course-div, .task-course-div {
  padding-left: 20px;
  font-size: 18px;
  margin-bottom: 5px;
  a {
    text-decoration: none;
    color: #f7931e;
  }

  #solutions-task-name ,#material-course-name, #task-course-name {
    padding-left: 10px;
    display: inline-block;
  }
}

.solution-url-link {
  text-decoration: none;
  color: #f7931e;
  &:hover {
    color: #f7931e;
  }
}

.modal-body {
  .submit-url {
    margin-top: 5px;
  }

}

.material-container {
  margin-left: 6%;
  .course-presentation {
    color: #F7931E;
  }
  .material-description {
    width: 70%;
    word-break: break-all;
  }
}

.solution-container {
  margin-left: 6%;
}
