{% extends 'website/base.html' %}

{% block 'page-content' %}
{% autoescape off %}
  <div class="container">
    <section class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        {{ snippets.courses_first_header.text }}
      </div>
    </section>

    <section class="row">
      <div class="col-lg-12">
        <p class="lead">Активни курсове</p>
      </div>
    </section>

    <section class="row">
      <div class="col-lg-12">
        {{ snippets.courses_second_header.text }}
      </div>
    </section>

    <hr />
  
    <section class="row">
      <div class="active-courses-container container-fluid">
        {% for course in courses %}
          <div class="course-logo-container col-md-3">
            {% if course.course.is_active %}
              <a href="{{ course.url }}">
                {% if course.custom_logo != "" %}
                  <img class="video-thumb" src="{{ MEDIA_URL }}{{ course.custom_logo }}">
                {% else %}
                  <i id="course-avatar-active" class="course-logo {{ course.logo }}"></i>
                {% endif %}
              </a>
              {% else %}
              <a href="{{ course.url }}">
                {% if course.custom_logo != "" %}
                  <img class="video-thumb" src="{{ MEDIA_URL }}{{ course.custom_logo }}">
                {% else %}
                  <i id="course-avatar-inactive" class="course-logo {{ course.logo }}"></i>
                {% endif %}
              </a>
            {% endif %}
            <h3 id="course-name">{{ course.course.name }}</h3>
            <a href="{{ course.url }}">
            {% if course.course.is_active %}
              <button class="btn btn-primary">Научете повече</button>
            {% endif %}
              <!-- <button class="btn btn-danger">Курсът приключи</button> -->

            </a>
          </div>
        {% endfor %}
      </div>
    </section>

    <section class="row">
      <div class="col-lg-12">
        {{ snippets.courses_for_more_info.text }}
      </div>
    </section>
  </div>
{% endautoescape %}
{% endblock %}
