{% extends 'website/base.html' %}
{% load crispy_forms_tags %}

{% block 'page-content' %}
<div class="container apply-form">
  <div class="row">
    <h1>Кандидатстване за курс: {{ course.name }}</h1>
    <div class="col-md-4">
      {% autoescape off %}
        {{ course.coursedescription.applicationinfo.description }}
      {% endautoescape %}
    </div>
    <div class="col-md-8">
      <form method="POST" enctype='multipart/form-data' action="" class="register-form" >
        {{ apply_form|crispy}}
        {% csrf_token %}
        <button type="submit" class="btn btn-warning btn-login">Кандидаствай!</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
