{% extends 'website/base.html' %}

{% block 'page-content' %}
{% autoescape off %}
  <div class="container">

    <section class="row">
      <div class="col-lg-12">
        <h1>Моите кандидатури:</h1>
      </div>
    </section>

    <section class="row application-list">
      {% for cd in course_descriptions %}
        <div class="col-md-3">
          <h3>{{ cd.course.name }}</h3>
            <a href="{% url 'website:course_details' cd.url %}">
              <img src="{{ MEDIA_URL }}{{ cd.custom_logo }}" class="logo">
            </a>
            <h3 id="course-name">{{ cd.name }}</h3>
            <a href="{% url 'applications:edit_application' course_url=cd.url %}">
              <button class="btn btn-hack">Редактирай!</button>
            </a>
        </div>
      {% endfor %}
    </section>

  </div>
{% endautoescape %}
{% endblock %}
