{% extends 'website/base.html' %}
{% load crispy_forms_tags %}

{% block 'page-content' %}
<div class="container">
  <div class="row-profile edit-profile">
    <ul class="nav nav-tabs nav-justified">
      <!-- <li class="active"><a data-toggle="tab" href="#home">Информация</a></li> -->
      {% for application in user_applications %}
        <li><a data-toggle="tab" href="#app">{{ application.application_info.course }}</a></li>
      {% endfor %}
    </ul>
    <div class="tab-content">
      <div id="app">
        <form method="POST" enctype='multipart/form-data' action="" class="register-form" >
          {{ form|crispy }}
          {% csrf_token %}
          <button type="submit" class="btn btn-warning btn-login">Обнови</button>
        </form>
      </div>
    </div>

  </div>
</div>

{% endblock %}
