{% extends 'website/base.html' %}
{% load django_bootstrap_breadcrumbs %}
{% block 'page-content' %}
{% autoescape off %}

{% block breadcrumbs %}
    <li class="active", style="background: transparent">
    <a aria-expanded="false" role="button" class="breadcrumbs" href="{% url 'website:profile'%}">
    Profile</a>
    </li>
{% endblock %}
  <div class="container">
    {% if user.get_teacher %}
      {% if teacher_courses.get_active_courses.exists %}
        <section class="row">
          <div class="active-courses-container container-fluid">
            <h3>Преподавателски активни курсове </h3>
              {% for course in teacher_courses.get_active_courses.all %}
                  {% include "partial/teacher_course_box.html" with course=course %}
              {% endfor %}
          </div>
        </section>
        {% endif %}
      {% endif %}
    {% if user.get_student %}
      {% if student_courses.get_active_courses.exists %}
      <section class="row">
        <div class="active-courses-container container-fluid">
          <h3>Студентски активни курсове </h3>
          {% for course in student_courses.get_active_courses.all %}
          {% include "partial/student_course_box.html" with course=course %}
          {% endfor %}
        </div>
      </section>
      {% endif %}
    {% endif %}
    {% if user.get_teacher %}
      {% if teacher_courses.get_closed_courses.exists %}
        <section class="row">
          <div class="active-courses-container container-fluid">
            <h3>Архив на изминали преподавателски курсове </h3>
              {% for course in teacher_courses.get_closed_courses.all %}
                  {% include "partial/teacher_course_box.html" with course=course %}
              {% endfor %}
          </div>
        </section>
      {% endif %}
    {% endif %}
    {% if user.get_student %}
        {% if student_courses.get_closed_courses.exists %}
          <section class="row">
            <div class="active-courses-container container-fluid">
              <h3>Архив на изминали студентски курсове </h3>
                {% for course in student_courses.get_closed_courses.all %}
                    {% include "partial/student_course_box.html" with course=course %}
                {% endfor %}
            </div>
          </section>
        {% endif %}
    {% endif %}
  </div>
{% endautoescape %}
{% endblock %}
