{% extends 'website/base.html' %}

{% block 'page-content' %}
{% autoescape off %}
  <div class="container">
    {% if t_courses.exists %}
    {% if t_courses.get_active_courses.exists %}
      <section class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          {{ snippets.courses_first_header.text }}
          <h3>Преподавателски активни курсове </h3>
        </div>
      </section>

      <section class="row">
        <div class="active-courses-container container-fluid">
          {% if user.get_teacher %}
          {% for course in t_courses %}
            {% if course.is_active %}
              {% include "partial/teacher_course_box.html" with course=course %}
            {% endif %}
          {% endfor %}
          {% endif %}
        </div>
      </section>
      {% endif %}
      {% if t_courses.get_closed_courses.exists %}
        <section class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            {{ snippets.courses_first_header.text }}
            <h3>Преподавателски архив на изминали курсове </h3>
          </div>
        </section>

        <section class="row">
          <div class="active-courses-container container-fluid">
            {% if user.get_teacher %}
            {% for course in t_courses %}
              {% if not course.is_active %}
                {% include "partial/teacher_course_box.html" with course=course %}
              {% endif %}
            {% endfor %}
            {% endif %}
          </div>
        </section>
        {% endif %}
    {% endif %}
    {% if user.get_teacher and user.get_student %}
    <section class="row">
      <div class=".col-md-3">
        <img src="{{STATIC_URL}}website_images/panda_bulbblink.gif" />
      </div>
    </section>
    {% endif %}
    {% if st_courses.exists %}
    {% if st_courses.get_active_courses.exists %}
      <section class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          {{ snippets.courses_first_header.text }}
          <h3>Студентски активни курсове </h3>
        </div>
      </section>

      <section class="row">
        <div class="active-courses-container container-fluid">
          {% if user.get_student %}
          {% for course in st_courses %}
            {% if course.is_active %}
              {% include "partial/student_course_box.html" with course=course %}
            {% endif %}
          {% endfor %}
          {% endif %}
        </div>
      </section>
      {% endif %}
      {% if st_courses.get_closed_courses.exists %}
        <section class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            {{ snippets.courses_first_header.text }}
            <h3>Студентски архив на изминали курсове </h3>
          </div>
        </section>

        <section class="row">
          <div class="active-courses-container container-fluid">
            {% if user.get_student %}
            {% for course in st_courses %}
              {% if not course.is_active %}
                {% include "partial/student_course_box.html" with course=course %}
              {% endif %}
            {% endfor %}
            {% endif %}
          </div>
        </section>
        {% endif %}
    {% endif %}
  </div>
{% endautoescape %}
{% endblock %}
