{% extends 'website/base.html' %}

{% block 'page-content' %}
{% autoescape off %}
<div class="material-course-div">
  <a href="{% url 'education:course_list' %}">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
  </a>
  <div id="material-course-name">
    <b>{{object_list.first.course.name}}</b>
  </div>
</div>
{% for material in object_list %}
  <div class="task-name-container"><b>{{ material.week }}</b>
  </div>
  <div class="container">
    <section class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 material-container">
        <div class="material-description">{{ material.description }}</div>
      </div>
    </section>

  </div>
{% endfor %}
{% endautoescape %}
{% endblock %}
