{% extends 'website/base.html' %}

{% block 'page-content' %}
{% autoescape off %}
  <div class="container">
    <section class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        {{ snippets.courses_first_header.text }}
        <h3> Решение на задача {{ solution.task.name }}: <h3>

      </div>
    </section>

    <section class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        {{ snippets.courses_first_header.text }}
        <h2> Резултат: {{ solution.get_status }} <h2>
      </div>
    </section>

    <section class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        {{ snippets.courses_first_header.text }}
        <h2> Test output : {{ solution.test_output }} <h2>
      </div>
    </section>

  </div>
{% endautoescape %}
{% endblock %}
