{% extends 'website/base.html' %}

{% block 'page-content' %}
{% autoescape off %}

<div class="task-name-container"> Решение на задача: <b>{{ solution.task.name }} </b> </div>
  <div class="container">
    <section class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h4>Условие на задачата:
          <a class="task-solution-link" href={{solution.task.description}} target="_blank">
            {{solution.task.name}}
          </a>
        </h4>
        <h4>Резултат: {{ solution.get_status }} </h4>
        {{ snippets.courses_first_header.text }}
        <h3>Test output</h3>
        <div class="task-test-output">{{task.test_output}}</div>

      </div>
    </section>

  </div>
{% endautoescape %}
{% endblock %}
