{% extends 'website/base.html' %}

{% block 'page-content' %}
{% autoescape off %}
<div class="container">
  <div class="course-students">
    <div class="course-name-div">
      <a href="{% url 'education:course_list' %}">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
      </a>
      <div class="course-name"><b>{{course.name}}</b></div>
    </div>
    {% if object_list.exists %}
      {% for student in object_list %}
        {% include 'partial/student_box.html' with student=student course=course%}
      {% endfor %}
    {% endif %}
  </div>
</div>
{% endautoescape %}
{% endblock %}
