{% extends 'website/base.html' %}

{% block 'page-content' %}
{% autoescape off %}
  <div class="container">
    <section class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        {{ snippets.courses_first_header.text }}
        <h3> Задачи за {{ object_list.first.course }}: <h3>
      </div>
    </section>

    <section class="row">
      <div class="col-lg-12">
        <p class="lead">{{ snippets.courses_first_paragraph.text }}</p>
      </div>


    <hr />
    <section class="row">
      <div class="active-tasks-container container-fluid">
          <table id="course-tasks-table" class="table table-hover table-striped " cellspacing="0">
            <thead>
              <tr>
                <th>Седмица</th>
                <th>Задача</th>
                <th id="submit-task-label">Предай</th>
              </tr>
            </thead>
            <tbody id="tasks-body">
              {% for task in object_list %}
                 <tr class="task-selected" task_id="{{task.id}}">
                   <td class="task-week">{{ task.week }}</td>
                   <td class="task-name">{{ task.name }}</td>
                   <td>
                       <button class="btn btn-warning submit-dialog-btn" data-task-name="{{task}}"data-toggle="modal" data-target="#task-modal-box">Предай</button>
                   </td>
                 </tr>
             {% endfor %}
            </tbody>
          </table>
      </div>
    </section>

  </div>


<div class="modal fade" id="task-modal-box" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Задача</h4>
      </div>
      <div class="modal-body">
          <label for="message-text" class="form-control-label">Решение на задача:</label>
          <textarea class="form-control" id="message-text"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Затвори</button>
        <button type="button" class="btn btn-warning">Предай задача</button>
      </div>
    </div>
  </div>
</div>
{% endautoescape %}
{% endblock %}

{% block 'scripts' %}
{% endblock %}
