{% extends 'website/base.html' %}

{% load key %}

{% block 'page-content' %}
{% autoescape off %}
  <div class="container">
    <section class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        {{ snippets.courses_first_header.text }}
        <h3> Задачи за {{ object_list.first.course }}: <h3>
      </div>
    </section>

    <hr />
    <section class="row">
      <div class="active-tasks-container container-fluid">
          <table id="course-tasks-table" class="table table-hover table-striped " cellspacing="0">
            <thead>
              <tr>
                <th>Седмица</th>
                <th>Задача</th>
                <th id="submit-task-label">Предай</th>
                <th id="solution-task-label">Решения</th>
                {% if user.student.solution_set.last.task in object_list %}
                <th>Последно предадена задача</th>
                {% endif %}
              </tr>
            </thead>
            <tbody id="tasks-body">
              {% for task in object_list %}
                 <tr class="task-selected" task_id="{{task.id}}">
                   <td class="task-week">{{ task.week }}</td>
                   <td class="task-name">
                     <a class="task-solution-link" href={{task.description}} target="_blank">
                       {{ task.name }}
                     </a>
                   </td>
                   <td>
                      <button class="btn btn-warning submit-dialog-btn" data-task-name="{{task}}"data-toggle="modal" data-task-id="{{task.id}}" data-target="#task-modal-box">Предай</button>
                   </td>
                   <td>
                      {% if tasksolution|key:task.name %}
                        <a class="task-solution-link" href="{% url 'education:solution_view' task.course.id task.id %}">
                          <button class="btn btn-warning" id="btn-tasks-link">Решения</button>
                        </a>
                      {% else %}
                        Няма предадено решение
                      {% endif %}
                    </td>
                    <td>
                      {% if tasksolution|key:task.name %}
                        <!-- Take latest submitted solution status -->
                      {% endif %}
                    </td>
                 </tr>
             {% endfor %}
            </tbody>
          </table>
      </div>
    </section>

  </div>


<div class="modal fade" id="task-modal-box" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Задача</h4>
      </div>
      <div class="modal-body">
          <label for="message-text" class="form-control-label">Решение на задача:</label>
          <textarea class="form-control" id="message-text" name="code"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Затвори</button>
        {% csrf_token %}
        <button type="submit" class="btn btn-warning" id="submit-solution" value="">Предай задача</button>
      </div>
    </div>
  </div>
</div>
{% endautoescape %}
{% endblock %}
