
#suggestion-dropdown {
    position:absolute;
    padding:5px;
    padding-right:10px;
    border:1px solid #ccc;
    background-color:white;
    display:none;
}

#suggestion-dropdown ul{
    list-style-type: none;
    padding:0;
    margin:0;
}

#suggestion-dropdown ul li{
    white-space: nowrap;
    cursor: pointer;
}

#suggestion-dropdown ul li.selected{
    background-color: #9E9E9E;
}

#ui-datepicker-div{
    border-radius: 5px;
}


.ui-datepicker-header {
    background-color: #F7931E;
    border-color:#5A5555;
}

.ui-datepicker .ui-datepicker-title select {
    background-color: #F7931E;
    border-color:#F7931E;
    color:#000;
}

.ui-widget-content {
    border: 1px solid #F7931E;
}

.ui-state-default, .ui-widget-content .ui-state-default {
    border: 1px solid #F7931E;
}

.ui-state-hover, .ui-widget-content .ui-state-hover {
    background-color: #F7931E;
}
