.ease1s, body #page-wrap #faces .person, body #page-wrap #partners .partner, body #page-wrap #videos .video .video-thumb, #course_video .video .video-thumb, .course-partner-image {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

html {
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  background: #F2F2F2;
  height: 100%; }
  body #page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -100px; }
    body #page-wrap:after {
      content: "";
      display: block;
      height: 100px; }
    body #page-wrap #header {
      background: black;
      list-style: none; }
      body #page-wrap #header #logo {
        float: left;
        padding-top: 25px;
        width: 100%; }
      body #page-wrap #header #login-form {
        padding-top: 30px; }
      body #page-wrap #header #main-navigation {
        margin-top: 20px;
        list-style: none; }
        body #page-wrap #header #main-navigation li {
          float: left;
          display: block;
          padding: 10px; }
          body #page-wrap #header #main-navigation li ul li {
            float: none;
            padding: 1px; }
            body #page-wrap #header #main-navigation li ul li a {
              color: black; }
              body #page-wrap #header #main-navigation li ul li a:hover {
                border: none; }
          body #page-wrap #header #main-navigation li a {
            font-size: 120%;
            color: white;
            text-decoration: none; }
            body #page-wrap #header #main-navigation li a:hover {
              border-bottom: 2px solid #F7931E; }
          body #page-wrap #header #main-navigation li .dropdown-toggle {
            font-size: 120%;
            color: white;
            text-decoration: none; }
            body #page-wrap #header #main-navigation li .dropdown-toggle:hover {
              cursor: pointer; }
          body #page-wrap #header #main-navigation li .active {
            border-bottom: 2px solid #F7931E; }
    body #page-wrap #faces {
      margin: 0; }
      body #page-wrap #faces #moto {
        text-align: center; }
        body #page-wrap #faces #moto * {
          display: inline; }
      body #page-wrap #faces .person {
        background: white;
        padding: 0;
        box-shadow: 0px 10px 20px #888888;
        float: left;
        width: 16.66%; }
        @media screen and (max-width: 1145px) {
          body #page-wrap #faces .person {
            width: 20%; }
            body #page-wrap #faces .person:last-of-type {
              display: none; } }
        @media screen and (max-width: 750px) {
          body #page-wrap #faces .person {
            width: 25%; }
            body #page-wrap #faces .person:nth-last-of-type(2) {
              display: none; } }
        @media screen and (max-width: 500px) {
          body #page-wrap #faces .person {
            width: 33.33%; }
            body #page-wrap #faces .person:nth-last-of-type(3) {
              display: none; } }
        @media screen and (max-width: 400px) {
          body #page-wrap #faces .person {
            width: 50%; }
            body #page-wrap #faces .person:nth-last-of-type(4) {
              display: none; } }
        body #page-wrap #faces .person:hover {
          box-shadow: 0px 10px 20px #222222; }
        body #page-wrap #faces .person .person-image {
          width: 100%;
          padding-bottom: 5px; }
        body #page-wrap #faces .person .name {
          font-size: 120%;
          font-weight: 600;
          padding: 10px; }
        body #page-wrap #faces .person .position {
          padding: 10px;
          font-size: 90%; }
        @media screen and (max-width: 980px) {
          body #page-wrap #faces .person .person-description {
            font-size: 0.67em; } }
    body #page-wrap #action-buttons {
      padding-top: 20px;
      padding-bottom: 30px; }
      body #page-wrap #action-buttons button {
        font-size: 120%; }
      body #page-wrap #action-buttons #left-action {
        float: right;
        padding: 16px;
        background: #F7931E;
        border: none;
        color: white; }
      body #page-wrap #action-buttons #right-action {
        color: #F7931E;
        float: left;
        padding: 14px;
        background: white;
        border: 2px solid black; }
    body #page-wrap #partners .partner {
      background: white;
      padding: 10px;
      margin: 4vw;
      width: 40vw;
      height: 40vw;
      float: none;
      display: inline-block;
      opacity: 0.6;
      cursor: pointer; }
      @media screen and (min-width: 970px) {
        body #page-wrap #partners .partner {
          width: 14vw;
          height: 14vw;
          margin: 10px; } }
      body #page-wrap #partners .partner:hover {
        opacity: 1.0; }
      body #page-wrap #partners .partner .partner-image {
        position: absolute;
        top: 50%;
        left: 4%;
        width: 92%;
        transform: translateY(-50%); }
      body #page-wrap #partners .partner .partners_play_button {
        width: 4vmax;
        height: 4vmax;
        left: 50%;
        top: 50%;
        z-index: 1;
        position: absolute;
        margin-left: -2vmax;
        margin-top: -2vmax; }
      body #page-wrap #partners .partner .started-count {
        font-size: 40px;
        text-align: center; }
    body #page-wrap #videos {
      background: url("/static/website_images/background_pattern.png");
      padding-top: 10px;
      padding-bottom: 40px;
      margin-top: 40px; }
      body #page-wrap #videos .video {
        padding: 10px; }
        body #page-wrap #videos .video:hover .video-thumb {
          box-shadow: 0px 10px 20px #222222; }
        body #page-wrap #videos .video .play_button {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 84px;
          margin: -46px; }
        body #page-wrap #videos .video .video-thumb {
          box-shadow: 0px 10px 20px #888888;
          width: 100%; }
  body #footer {
    height: 100px;
    background: #F7931E;
    color: white;
    text-align: center; }
    body #footer #socials {
      padding: 10px 0 10px 0; }
      body #footer #socials a {
        padding: 5px;
        text-decoration: none;
        color: white; }

.text-card {
  padding-top: 100px; }

#future-seniors-card {
  background-color: #E22A37; }

#quality-education-card {
  background-color: #FEB300; }

#informal-and-friendly-card {
  background-color: #5080AD; }

#engaging-teachers-card {
  background-color: #FE8700; }

#math-card {
  background-color: #5A4385; }

#more-practice-card {
  background-color: #548000; }

#real-world-practice-card {
  background-color: #FE4E00; }

#team-work-card {
  background-color: #B453C8; }

#moderate-competiton-card {
  background-color: #56CB00; }

.container section:nth-of-type(2n + 1) div.cards {
  float: left; }
.container section:nth-of-type(2n + 1) div.text-card {
  float: right; }

.container #user-avatar{
  margin-top: 50px;
  border: 2px solid #9D9898;
  width: 300px;
  height: 300px;
  border-radius: 150px;
}

.container #usernames{
  margin-top: 100px;
  font-size: 30px;
}

.dropdown-menu {
  margin-top: 20px; }

.active-courses-container {
  text-align: center;
  margin-bottom: 50px; }

.course-logo-container {
  margin-bottom: 40px; }
  .course-logo-container a:hover {
    text-decoration: none; }

.course-logo {
  font-size: 22em; }

.breadcrumb {
  margin-top: 20px; }

#course-details-breadcrumb {
  font-size: 20px; }

#details-apply-button {
  margin-top: 30px; }

#course_video .video {
  padding: 10px; }
  #course_video .video:hover .video-thumb {
    box-shadow: 0px 10px 20px #222222; }
  #course_video .video .play_button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 84px;
    margin: -46px; }
  #course_video .video .video-thumb {
    box-shadow: 0px 10px 20px #888888;
    max-width: 100%;
    max-height: 100%; }

.course-details-video {
  margin: 1%;
  max-width: 640px;
  max-height: 360px; }

.course-teacher-image {
  width: 230px;
  height: 230px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  float: none;
  cursor: pointer;
  display: inline-block; }
  .course-teacher-image .image {
    padding: 1px;
    border: solid 1px #EFEFEF;
    opacity: 0.7;
    position: absolute;
    top: 50%;
    left: 4%;
    width: 92%;
    transform: translateY(-50%); }
    .course-teacher-image .image:hover {
      border: solid 3px #CCC;
      -moz-box-shadow: 1px 1px 5px #999;
      -webkit-box-shadow: 1px 1px 5px #999;
      box-shadow: 1px 1px 5px #999;
      opacity: 1.0;
      transition: 0.3s ease; }
  .course-teacher-image a:hover {
    text-decoration: none; }
  .course-teacher-image .course_teacher_name {
    font-size: 14px;
    font-weight: bold; }

.active-teacher-info {
  border: 1px solid #C5C4C4;
  border-bottom: 2px solid #F2F2F2;
  border-radius: 10px 10px 0 0;
  z-index: 1;
  text-align: center;
  padding: 6px;
  margin: 0px !important; }

.teacher-info {
  margin-top: 7px;
  padding-top: 20px;
  border-top: 1px solid #C5C4C4;
  z-index: 0; }

.active-teacher-image {
  border: solid 3px #CCC;
  -moz-box-shadow: 1px 1px 5px #999;
  -webkit-box-shadow: 1px 1px 5px #999;
  box-shadow: 1px 1px 5px #999;
  opacity: 1.0 !important; }

.teacher-info-container {
  position: relative;
  text-align: center; }

.teacher-info-hidden {
  display: none; }

.course-partner-image {
  width: 161px;
  height: 161px;
  margin: 10px;
  float: none;
  cursor: pointer;
  display: inline-block;
  background: white;
  opacity: 0.6; }
  .course-partner-image .image {
    position: absolute;
    top: 50%;
    left: 4%;
    width: 92%;
    transform: translateY(-50%); }
  .course-partner-image .play_button {
    width: 4vmax;
    height: 4vmax;
    left: 50%;
    top: 50%;
    z-index: 1;
    position: absolute;
    margin-left: -2vmax;
    margin-top: -2vmax; }
  .course-partner-image:hover {
    opacity: 1.0; }

.aplly-button-container {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px; }

.apply-button {
  font-size: 24px; }

@media screen and (max-width: 600px) {
  .text-card, .card {
    float: right !important; } }
.cards img {
  width: 100%; }

@media screen and (max-width: 995px) {
  .text-card {
    padding-top: 0px; } }
@media screen and (max-width: 600px) {
  .cards {
    width: 100% !important; }

  .text-card {
    width: 100% !important;
    min-height: 100px;
    padding-top: 0px; }

  }
.login-container {
  max-width: 400px;
  margin-top: 50px;
  margin-bottom: 50px; }
  .login-container .error {
    font-weight: bold;
    color: #a94442;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px; }
  .login-container .profile-img-container {
    text-align: center;
    margin-bottom: 50px; }
  .login-container .profile-img-container .img-circle {
      width: 96px;
      height: 96px;
      border: 2px solid; }
  .login-container .reg-img-container .img-circle {
        width: 22px;
        height: 22px;
        margin-left: 340px;
        margin-top: -232px;}
  @media screen and (max-width: 600px) {
    .login-container .reg-img-container .img-circle {
      margin-left: 280px;} }
      @media screen and (max-width: 340px) {
        .login-container .reg-img-container .img-circle {
          margin-left: 260px;
          margin-top: -272px;} }
  .login-container .btn-login {
    width: 100%;
    margin-bottom: 20px; }

#suggestion-dropdown {
  position: absolute;
  padding: 5px;
  padding-right: 10px;
  border: 1px solid #ccc;
  background-color: white;
  display: none; }
  #suggestion-dropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    #suggestion-dropdown ul li {
      white-space: nowrap;
      cursor: pointer; }
      #suggestion-dropdown ul li.selected {
        background-color: #9E9E9E; }

#ui-datepicker-div {
  border-radius: 5px; }

.ui-datepicker .ui-datepicker-header {
  background-color: #F7931E;
  border-color: #5A5555; }

.ui-datepicker .ui-datepicker-title select {
  background-color: #F7931E;
  border-color: #F7931E;
  color: #000; }

.ui-widget-content {
  border: 1px solid #F7931E; }

.ui-state-default, .ui-widget-content .ui-state-default {
  border: 1px solid #F7931E; }

.ui-state-hover, .ui-widget-content .ui-state-hover {
  background-color: #F7931E; }

/*# sourceMappingURL=website.css.map */
