<html>
    <head>
        <title>HackBulgaria {{ full_name }} Certificate</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}certificates/certificate.css">
        <meta property="og:title" content="HackBulgaria {{ full_name }} Certificate"/>
        <meta property="og:image" content="https://hackbulgaria.com/static/img/certificate_screen.png"/>
        <meta property="og:site_name" content="Hack Bulgaria"/>
        <meta property="og:description" content="Certificate for being {{ percent_awesome }} awesome in the {{ course_name }} course in HackBulgaria"/>
        <link rel="shortcut icon" href="/static//img/favicon.ico">
    </head>
    <body>
        <div id="social-holder">
            <ul style="list-style-type: none;">
                <li><a href="https://twitter.com/share" class="twitter-share-button">Tweet</a></li>
                <li><div class="g-plusone" data-size="medium"></div></li>
                <li><div class="fb-share-button" data-href="" data-layout="button_count"></div></li>
            </ul>
        </div>
        <a href="http://hackbulgaria.com/">
            <img id="logo" src="/static/img/HackBG-certificates-logo.png" alt="HackBulgaria Logo">
        </a>
        <h2 id="title">Certificate for being <span id="percent">{{ percent_awesome }}% </span> awesome in {{ course_name }} </h2>
        <div>
            <p id="name"><a href="{{ git_hub_url }}">{{ full_name }}</a></p>
        </div>

        <fieldset id='github-statistics'>
            <legend>Github Statistics:</legend>
                <div>Closed Issues: 2</div>
                <div>Still Open Issues: 1</div>
                <div>Total Commits: 124</div>
         </fieldset>

        <div>
            <fieldset id='projects'>
                <legend>Projects:</legend>
                    {% for task in tasks %}
                    <div>
                        <!-- <a href="https://github.com/HackBulgaria/Programming101-3/tree/master/week1/1-Warmups/">Week <Week 1> Task &lt;1&gt; Warmups</a> -
                        
                        <a class="code-sent" href="https://github.com/animilh/Programming-101/tree/master/week1/1-Warmups">Source Link</a>
                         -->
                        <a href="{{ task.description }}" target="_blank">Week <Week 1>
                            {{ task.name }}
                        </a> -
                        {% if tasks_solutions.task %}
                            <a class="code-sent" href="{{ tasks_solutions.task.url }}">Source Link
                            </a>
                        {% else %}
                            <span class="code-not-sent">Not sent</span>
                        {% endif %}
                    </div>
                    {% endfor %}
                 
                
            </fieldset>
        </div>

    <div id="fb-root"></div>
    <script src="/static/js/facebook.js"></script>
    <script src="/static/js/twitter.js"></script>
    <!-- <script type="text/javascript">
        window.___gcfg = {
            lang: 'en-US',
            parsetags: 'onload'
        };
    </script>
    -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    </body>
</html>