<html>
    <head>
        <title>HackBulgaria {{ student.full_name }} Certificate</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}certificates/certificate.css">
        <meta property="og:title" content="HackBulgaria {{ student.full_name }} Certificate"/>
        <meta property="og:image" content="https://hackbulgaria.com/static/img/certificate_screen.png"/>
        <meta property="og:site_name" content="Hack Bulgaria"/>
        <meta property="og:description" content="Certificate for being {{ percent_awesome }} awesome in the {{ course.name }} course in HackBulgaria"/>
        <link rel="shortcut icon" href="/static/img/favicon.ico">
    </head>
    <body>
        <div id="social-holder">
            <ul style="list-style-type: none;">
                <li><a href="https://twitter.com/share" class="twitter-share-button">Tweet</a></li>
                <li><div class="g-plusone" data-size="medium"></div></li>
                <li><div class="fb-share-button" data-href="" data-layout="button_count"></div></li>
            </ul>
        </div>
        <a href="http://hackbulgaria.com/">
            <img id="logo" src="/static/img/HackBG-certificates-logo.png" alt="HackBulgaria Logo">
        </a>
        <h2 id="title">Certificate for being <span id="percent">{{ percent_awesome }}% </span> awesome in {{ course.name }} </h2>
        <div>
            <p id="name"><a href="{{ student.github_account }}">{{ student.full_name }}</a></p>
        </div>

        <div class="tasks_field">
            {% if problems %}
            <fieldset id="projects">
                <legend>Graded Problems</legend>
                {% if projects and problems %}
                    <span class="subtext">Problems that are automatically graded</span>
                {% endif %}
                {% for task in problems %}
                <div>
                    <a href="{{ task.description }}" target="_blank">Week {{ task.week }}
                            {{ task.name }}
                        </a> -
                        {% if task.solution and task.solution.url %}
                            <a class="code-sent" href="{{ task.solution.url }}">Source Link
                            </a>
                        {% else %}
                            <span class="code-not-sent">Not sent</span>
                        {% endif %}
                </div>
                {% endfor %}
            </fieldset>
            {% endif %}
            {% if projects %}
            <fieldset id='projects'>
                <legend>Projects:</legend>
                    {% if projects and problems %}
                        <span class="subtext">Bigger projects that cannot be graded</span>
                    {% endif %}
                    {% for task in projects %}
                    <div>
                        <a href="{{ task.description }}" target="_blank">Week {{ task.week }}
                            {{ task.name }}
                        </a> -
                        {% if task.solution %}
                            <a class="code-sent" href="{{ task.solution.url }}">Source Link
                            </a>
                        {% else %}
                            <span class="code-not-sent">Not sent</span>
                        {% endif %}
                    </div>
                    {% endfor %}     
            </fieldset>
            {% endif %}
        </div>

        <div class="lectors-signatures">
            {% for teacher in teachers %}
                {% if teacher.signature %}
                    <div class="teacher">
                        <div class="signature">
                            <img src="{{MEDIA_URL}}{{teacher.signature}}">
                        </div>
                        <div>/{{teacher.first_name}} {{teacher.last_name}}/</div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    <div id="fb-root"></div>
    <script src="/static/js/facebook.js"></script>
    <script src="/static/js/twitter.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    </body>
</html>