{% extends 'website/base.html' %}

{% block 'page-content' %}

    <div align="center">
        <div class="login-container">
            {% if errors %}
                <div class="alert alert-block alert-danger" align="left">
                    <ul>
                    {% for error in errors %}
                        <li>{{error}}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
            
            {% if message %}
                <div align="center">
                    <h2>{{message}}</h2>
                </div>
                <div>
                    Вече можеш да 
                    <a href="{% url 'website:login' %}">влезеш в профила си</a>
                </div>
            {% else %}
                <div align="center">
                    <form method="POST">
                        <div class="form-group">
                            <label for='id_email'>Нова парола:</label>
                            <input type="password" id='id_email' name="password" class="form-control" autofocus="1">
                        </div>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-warning">Смени</button>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}