{% extends 'website/base.html' %}

{% block 'page-content' %}
{% load crispy_forms_tags %}

<div class="container login-container">
    <div class="card card-container">
        <div class="profile-img-container">
            <img class="img-circle" src="{{ STATIC_URL }}website_images/hackman_head.png" />
        </div>
        {% if error %}
            <div class="bg-warning error">{{error}}</div>
        {% endif %}
        <form method="POST" action="" class="register-form" >
            {{form|crispy}}
            {% csrf_token %}
            <button type="submit" class="btn btn-warning btn-login" >Hack on!</button>
            <a href="{% url 'website:login' %}">
                Вече имаш регистрация?
            </a>
        </form>
    </div>
</div>

{% endblock %}