{% extends 'website/base.html' %}

{% block 'page-content' %}
{% autoescape off %}
<div class="container">
  <div class="row">
    <div class="container-fluid">

      <div class="choose-interview-container col-md-8 col-md-offset-2">
        <h4>Здравей, {{ user.first_name }}</h4>
        <h5>Ти успешно кандидаства за <b>{{app.application_info.course}}</b>.</h5>
        <h5>Твоето интервю е на <b>{{ current_interview.date }}</b> в <b>{{ current_interview.start_time}}</b>.</h5>
        <h5>Ако желаеш да смениш датата и часа, които сме ти насрочили, можеш да избереш от таблицата отдолу.</h5>
        <h5>Имаш право само веднъж да промениш своето интервю.</h5><br>
        <div class="table-responsive">
          <table id="interview-slots-table" class="table table-hover table-striped " cellspacing="0">
            <thead>
              <tr>
                <th>Дата</th>
                <th>Начален час</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for interview in interviews %}
              <tr class="interview-selected" id="interview_{{interview.id}}">
                <td class="interview-date">{{ interview.date }}</td>
                <td class="interview-time">{{ interview.start_time }}</td>
                <td>
                  <form class="change-interview-form" action="{% url 'interview_system:choose_interview' application interview.uuid %}" method="POST">
                    {% csrf_token %}
                    <button id="change-interview" type="submit" class="btn btn-warning" >Избери</button></td>
                  </form>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

      </div>

    </div>
  </div>
</div>


{% endautoescape %}

{% endblock %}
