{% extends 'website/base.html' %}
{% load utils %}
{% block 'page-content' %}
{% autoescape off %}
<div class="container">
  <div class="row">
    <div class="container">
      <h3>Информация за текущата кампания</h3>
      <!-- <h4>Всички генерирани интервюта: {{ interviews.count }}</h4> -->
      <div class="confirm-interview-box">
        <form action="" method="post">
          {% csrf_token %}
          <button id="confirm_interview-btn" class="btn btn-warning" type="submit">Създай интервюта!</button>
        </form>
      </div>

      {% for app_info in app_infos %}
        <div class="course-campaign-container">
          <img src="{{MEDIA_URL}}{{ app_info.course.custom_logo }}">
          <div class="course-campaign-info">
          <h3>{{ app_info.course.course.name }}</h3>
          <h4>Кандидаствали: {{ app_info.application_set.all.count }} </h4>
          {% for problem in app_info.applicationproblem_set.all %}
            <h5>Предадени задачи {{ problem.name }}: {{ problem.applicationproblemsolution_set.count }}</h5>
          {% endfor %}
          <h4>Потвърдени интервюта: {{ confirmed_interviews|dict_index:app_info }}</h4>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endautoescape %}

{% endblock %}
