body {
  padding: 0;
  margin: 0;
  background: #F2F2F2; }
  body #header {
    background: black;
    list-style: none; }
    body #header #logo {
      float: left;
      padding-top: 25px;
      width: 100%; }
    body #header #login-form {
      padding-top: 30px; }
    body #header #main-navigation {
      margin-top: 20px;
      list-style: none; }
      body #header #main-navigation li {
        float: left;
        display: block;
        padding: 10px; }
        body #header #main-navigation li a {
          font-size: 120%;
          color: white;
          text-decoration: none; }
          body #header #main-navigation li a:hover {
            border-bottom: 2px solid #F7931E; }
        body #header #main-navigation li .active {
          border-bottom: 2px solid #F7931E; }
  body #faces {
    display: inline; }
    body #faces #moto {
      text-align: center; }
      body #faces #moto * {
        display: inline; }
    body #faces .person {
      background: white;
      padding: 0;
      box-shadow: 0px 10px 20px #888888;
      float: left; }
      body #faces .person:hover {
        box-shadow: 0px 10px 20px #666666; }
      body #faces .person .person-image {
        width: 100%;
        padding-bottom: 5px; }
      body #faces .person .name {
        font-size: 120%;
        font-weight: 600;
        padding: 10px; }
      body #faces .person .position {
        padding: 10px;
        font-size: 90%; }
      body #faces .person .person-description {
        height: 3vw;
        font-size: 1vw; }
  body #action-buttons {
    padding-top: 20px;
    padding-bottom: 30px; }
    body #action-buttons button {
      font-size: 120%; }
    body #action-buttons #left-action {
      float: right;
      padding: 16px;
      background: #F7931E;
      border: none;
      color: white; }
    body #action-buttons #right-action {
      float: left;
      padding: 14px;
      background: white;
      border: 2px solid black; }
  body #partners .partner {
    background: white;
    padding: 10px;
    margin: 4vw;
    width: 40vw;
    height: 40vw;
    float: left; }
    @media screen and (min-width: 970px) {
      body #partners .partner {
        width: 14vw;
        height: 14vw;
        margin: 10px; } }
    body #partners .partner .partner-image {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      width: 100%; }
    body #partners .partner .started-count {
      font-size: 40px;
      text-align: center; }
  body #videos {
    background: url("/static/website_images/background_pattern.png");
    padding-top: 10px;
    padding-bottom: 40px;
    margin-top: 40px; }
    body #videos .video {
      padding: 10px; }
      body #videos .video .play_button {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 84px;
        margin: -46px; }
      body #videos .video .video-thumb {
        box-shadow: 0px 10px 20px #888888;
        width: 100%; }
  body #footer {
    height: 100px;
    background: #F7931E;
    color: white;
    text-align: center; }
    body #footer #socials {
      padding: 10px 0 10px 0; }
      body #footer #socials a {
        padding: 5px;
        text-decoration: none;
        color: white; }

.text-card {
  padding-top: 100px; }

#future-seniors-card {
  background-color: #E22A37; }

#quality-education-card {
  background-color: #FEB300; }

#informal-and-friendly-card {
  background-color: #5080AD; }

#engaging-teachers-card {
  background-color: #FE8700; }

#math-card {
  background-color: #5A4385; }

#more-practice-card {
  background-color: #548000; }

#real-world-practice-card {
  background-color: #FE4E00; }

#team-work-card {
  background-color: #B453C8; }

#moderate-competiton-card {
  background-color: #56CB00; }

/*# sourceMappingURL=website.css.map */
