$yellow: #FFCB57;
$orange: #F7931E;
$gray: #F2F2F2;

.ease1s{
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
html {
    height: 100%;
}
body {
    padding: 0;
    margin: 0;
    background: $gray;
    height: 100%;
    #page-wrap {
        min-height: 100%;
        /* equal to footer height */
        margin-bottom: -100px;
        &:after {
            content: "";
            display: block;
            height: 100px;
        }
        #header {
            background: black;
            list-style: none;
            #logo {
                float: left;
                padding-top: 25px;
                width: 100%;
            }
            #login-form {
                padding-top: 30px;
            }
            #main-navigation {
                margin-top: 20px;
                list-style: none;
                li {
                    ul {
                        li {
                            float: none;
                            padding: 1px;
                            a {
                                color: black;
                                &:hover, {
                                    border: none;
                                } 
                            }
                        }
                    }
                    float: left;
                    display: block;
                    padding: 10px;
                    a {
                        font-size: 120%;
                        color: white;
                        text-decoration: none;
                        &:hover, {
                            border-bottom: 2px solid $orange;
                        }
                    }
                    .dropdown-toggle {
                        font-size: 120%;
                        color: white;
                        text-decoration: none;
                        &:hover, {
                            cursor:pointer;
                            // border-bottom: 2px solid $orange;
                        }
                    }
                    .active {
                        border-bottom: 2px solid $orange;
                    }
                }
            
            }
        }

        #faces {
            margin: 0;
            #moto {
                text-align: center;
                * {
                    display: inline;
                }
            }
            .person {
                background: white;
                padding: 0;
                box-shadow: 0px 10px 20px #888888;
                float: left;
                width: 16.66%;
                @media screen and (max-width: 1145px) {
                    &:last-of-type {
                        display: none;
                    }
                    width: 20%;
                }

                @media screen and (max-width: 750px) {
                    &:nth-last-of-type(2) {
                        display: none;
                    }
                    width: 25%;

                }

                @media screen and (max-width: 500px) {
                    &:nth-last-of-type(3) {
                        display: none;
                    }
                    width: 33.33%;

                }

                @media screen and (max-width: 400px) {
                    &:nth-last-of-type(4) {
                        display: none;
                    }
                    width: 50%;

                }
                
                &:hover {
                    box-shadow: 0px 10px 20px #222222;
                }
                .person-image {
                    width: 100%;
                    padding-bottom: 5px;
                }
                .name {
                    font-size: 120%;
                    font-weight: 600;
                    padding: 10px;
                }   
                .position {
                    padding: 10px;
                    font-size: 90%;
                }
                .person-description {
                    @media screen and (max-width: 980px) {                        
                        font-size: 0.67em;
                    } 
                }
                @extend .ease1s;
            }
        }
        
        #action-buttons {
            padding-top: 20px;
            padding-bottom: 30px;
            button {
                font-size: 120%;
            }

            #left-action {
                float: right;
                padding: 16px;
                background: $orange;
                border: none;
                color: white;
            }
            #right-action {
                color: $orange;
                float: left;
                padding: 14px;
                background: white;
                border: 2px solid black;
            }
        }
        #partners {
            .partner {
                background: white;
                padding: 10px;
                margin: 4vw;
                width: 40vw;
                height: 40vw;
                @media screen and (min-width: 970px) {
                    width: 14vw;
                    height: 14vw;
                    margin: 10px;
                }
                float: none;
                display:inline-block;
                opacity: 0.6;
                @extend .ease1s;
                cursor:pointer;
                &:hover{
                    opacity:1.0;
                }
                .partner-image {
                    position: absolute;
                    top: 50%;
                    left: 4%;
                    width: 92%;
                    transform: translateY(-50%);
                }
                .partners_play_button {
                    width: 4vmax;
                    height: 4vmax;
                    left: 50%;
                    top: 50%;
                    z-index: 1;
                    position: absolute;
                    margin-left: -2vmax;
                    margin-top: -2vmax;
                }

                .started-count {
                    font-size: 40px;
                    text-align: center;
                }
            }
        }

        #videos {
            background: url('/static/website_images/background_pattern.png');
            padding-top: 10px;
            padding-bottom: 40px;
            margin-top: 40px;
            
            .video {
                padding: 10px;
                &:hover .video-thumb{
                    box-shadow: 0px 10px 20px #222222;
                }
                .play_button {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 84px;
                    margin: -46px;
                }
                .video-thumb {
                    box-shadow: 0px 10px 20px #888888;
                    width: 100%;
                    @extend .ease1s;
                }
            }
        }
    }

    #footer {
        height: 100px;
        background: $orange;
        color: white;
        text-align: center;

        #socials {
            padding: 10px 0 10px 0;
            a {
                padding: 5px;
                text-decoration: none;
                color: white;
            }
        }
    }
}

// about page
$FutureSeniors: #E22A37;
$QualityEducation: #FEB300;
$InformalAndFriendly: #5080AD;
$EngagingTeachers: #FE8700;
$Math: #5A4385;
$MorePractice: #548000;
$RealWorldPractice: #FE4E00;
$TeamWork: #B453C8;
$ModerateCompetition: #56CB00;

.text-card {
  padding-top: 100px;
}

#future-seniors-card {
  background-color: $FutureSeniors;
}

#quality-education-card {
  background-color: $QualityEducation;
}

#informal-and-friendly-card {
  background-color: $InformalAndFriendly;
}

#engaging-teachers-card {
  background-color: $EngagingTeachers;
}

#math-card {
  background-color: $Math;
}

#more-practice-card {
  background-color: $MorePractice;
}

#real-world-practice-card {
  background-color: $RealWorldPractice;
}

#team-work-card {
  background-color: $TeamWork;
}

#moderate-competiton-card {
  background-color: $ModerateCompetition;
}

.container section {
    &:nth-of-type(2n + 1) {
        div.cards {
            float: left;
        }
        div.text-card {
            float: right;
        }
    }
}

.dropdown-menu {
    margin-top: 20px;
}

.active-courses-container {
    text-align: center;
}

.course-logo-container{
    a:hover {
        text-decoration: none;
    }
}

.course-logo {
    font-size: 22em;
}

.breadcrumb {
    margin-top: 20px;
}

#course-details-breadcrumb {
    font-size: 20px;
}

#details-apply-button {
    margin-left: 20%;
}

#course_video {
    .video {
        padding: 10px;
        &:hover .video-thumb{
            box-shadow: 0px 10px 20px #222222;
        }
        .play_button {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 84px;
            margin: -46px;
        }
        .video-thumb {
            box-shadow: 0px 10px 20px #888888;
            max-width: 100%;
            max-height: 100%;
            @extend .ease1s;
        }
    }
}

.course-details-video {
    margin: 1%;
    max-width: 640px;
    max-height: 360px;
}

.course-teacher-image {
    width: 220px;
    height: 220px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    float: none;
    cursor:pointer;
    display:inline-block;
    .image {
        padding: 1px;
        border: solid 1px #EFEFEF;
        opacity:0.7;
        position: absolute;
        top: 50%;
        left: 4%;
        width: 92%;
        transform: translateY(-50%);
        &:hover{
            border: solid 3px #CCC;
            -moz-box-shadow: 1px 1px 5px #999;
            -webkit-box-shadow: 1px 1px 5px #999;
            box-shadow: 1px 1px 5px #999;
            opacity:1.0;
            transition: 0.3s ease;
        }
    }
    a {
        &:hover{
            text-decoration: none;
        }
    }
    .course_teacher_name {
        font-size: 16px;
        font-weight: bold;
    }

}

.teacher-info-container {
    text-align: center;
}

.teacher-info {
        margin-top: 25px;
        -webkit-box-shadow: 3px 3px 4px #9E9E9E;
        -moz-box-shadow: 3px 3px 4px #9E9E9E;
        box-shadow: 3px 3px 4px #9E9E9E;
    }

.active-teacher-image {
    border: solid 3px #CCC;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
    opacity:1.0 !important;
}

.teacher-info-hidden {
    display: none;
}

.course-partner-image {
    width: 161px;
    height: 161px;
    margin: 10px;
    float: none;
    cursor:pointer;
    display:inline-block;
    background: white;
    opacity: 0.9;
    .image {
        position: absolute;
        top: 50%;
        left: 4%;
        width: 92%;
        transform: translateY(-50%);
    }
    .play_button {
        width: 4vmax;
        height: 4vmax;
        left: 50%;
        top: 50%;
        z-index: 1;
        position: absolute;
        margin-left: -2vmax;
        margin-top: -2vmax;
    }
}

.aplly-button-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.apply-button {
    font-size: 24px;
}

@media screen and (max-width: 600px) {
    .text-card, .card {
        float: right !important;
    }
}

.cards{
    img{
        width:100%;
    }
}

@media screen and (max-width: 995px) {
    .text-card{
        padding-top: 0px;
    }
}

@media screen and (max-width: 600px) {
    .cards{
        width:100% !important;
    }
    .text-card{
        width:100% !important;
        min-height: 100px;
        padding-top: 0px;
    }
}
