{% extends 'website/base.html' %}

{% block 'page-content' %}
{% autoescape off %}
  <div class="container">
    <section class="row">
      <div class="col-md-6 col-xs-12 col-lg-6 text-card">
        {{ snippets.about_first_text.text }}dadada
      </div>

      <div id="future-seniors-card" class="col-md-6 col-xs-12 col-lg-6 cards" >
        <img src="{{STATIC_URL}}hackman_gifs/future_seniors.gif" />
      </div>
    </section>
    
    <section class="row">
      <div class="col-md-6 col-xs-12 col-lg-6 text-card">
      neee
        {{ snippets.about_second_text.text }}
      </div>

      <div id="quality-education-card" class="col-md-6 col-xs-12 col-lg-6 cards"> 
        <img src="{{STATIC_URL}}hackman_gifs/quality_education.gif" />
      </div>
    </section>

    <section class="row">
      <div class="col-md-6 col-xs-12 col-lg-6 text-card">
      dadada
        {{ snippets.about_third_text.text }}
      </div>

      <div id="informal-and-friendly-card" class="col-md-6 col-xs-12 col-lg-6 cards"> 
        <img src="{{STATIC_URL}}hackman_gifs/friendly_environment.gif" />
      </div>
    </section>

    <section class="row">
      <div class="col-md-6 col-xs-12 col-lg-6 text-card">
        {{ snippets.about_fourth_text.text }}
      </div>

      <div id="engaging-teachers-card" class="col-md-6 col-xs-12 col-lg-6 cards"> 
        <img src="{{STATIC_URL}}hackman_gifs/engaging_teachers.gif" />
      </div>
    </section>

    <section class="row">
      <div class="col-md-6 col-xs-12 col-lg-6 text-card">
        {{ snippets.about_fifth_text.text }}
      </div>

      <div id="math-card" class="col-md-6 col-xs-12 col-lg-6 cards" >
        <img src="{{STATIC_URL}}hackman_gifs/math.gif" />
      </div>
    </section>

    <section class="row">
      <div class="col-md-6 col-xs-12 col-lg-6 text-card">
        {{ snippets.about_sixth_text.text }}
      </div>

      <div id="more-practice-card" class="col-md-6 col-xs-12 col-lg-6 cards" >
        <img src="{{STATIC_URL}}hackman_gifs/exercise.gif" />
      </div>
    </section>

    <section class="row">
      <div class="col-md-6 col-xs-12 col-lg-6 text-card">
        {{ snippets.about_seventh_text.text }}
      </div>

      <div id="real-world-practice-card" class="col-md-6 col-xs-12 col-lg-6 cards" >
        <img src="{{STATIC_URL}}hackman_gifs/practical.gif" />
      </div>
    </section>

    <section class="row">
      <div class="col-md-6 col-xs-12 col-lg-6 text-card">
        {{ snippets.about_eight_text.text }}
      </div>

      <div id="team-work-card" class="col-md-6 col-xs-12 col-lg-6 cards" >
        <img src="{{STATIC_URL}}hackman_gifs/teamwork.gif" />
      </div>
    </section>

    <section class="row">
      <div class="col-md-6 col-xs-12 col-lg-6 text-card">
        {{ snippets.about_ninth_text.text }}
      </div>

      <div id="moderate-competiton-card" class="col-md-6 col-xs-12 col-lg-6 cards" >
        <img src="{{STATIC_URL}}hackman_gifs/competition.gif" />
      </div>
    </section>
  </div>
{% endautoescape %}
{% endblock %}
