{% extends 'website/base.html' %}

{% block 'page-content' %}
  <div class="container">
    <section class="row">
      <div id="future-seniors-card" class="col-md-6 col-xs-6 col-lg-6" >
        <img src="{{STATIC_URL}}hackman_gifs/engaging_teachers.gif" />
      </div>

      <div class="col-md-6 col-xs-6 col-lg-6 text-card">
        <h2>Future Seniors</h2>
        <p>
          Това е нашата цел. Искаме да открием таланта и мотивацията във всеки един от нашите курсисти и да го насочим по пътя му към senior програмист.
        </p>
      </div>
    </section>
    <section class="row">
      <div class="col-md-6 col-xs-6 col-lg-6 text-card">
        <h2>Качествено образование</h2>
        <p>
          Нещо, на което много държим и към което се стремим. Материалите и задачите трябва да са добри. Записваме видеа при нужда. 
        </p>
      </div>

      <div id="quality-education-card" class="col-md-6 col-xs-6 col-lg-6"> 
        <img src="{{STATIC_URL}}hackman_gifs/engaging_teachers.gif" />
      </div>

    </section>
    <section class="row">

      <div id="informal-and-friendly-card" class="col-md-6 col-xs-6 col-lg-6"> 
        <img src="{{STATIC_URL}}hackman_gifs/engaging_teachers.gif" />
      </div>

      <div class="col-md-6 col-xs-6 col-lg-6 text-card">
        <h2>Неформална и приятелска обстановка, изпълнена с голяма доза хумор.</h2>
        <p>
        Когато хората се отпуснат, учат по-добре. Класическото отношението тип "преподавател <-> студент" или "преподавател <-> ученик" е изградено изцяло на недоверие. Не се дебнем с хората дали преписват или си пишат домашните, а се опитваме да ги убедим, че нещата зависят от тях, а ние сме тук, за да им помогнем.
        </p>
      </div>
    </section>
    <section class="row">
      <div class="col-md-6 col-xs-6 col-lg-6 text-card">
        <h2>Ангажиращи преподаватели, които могат да преподават.</h2>
        <p>

          Нещо, на което много държим и към което се стремим. Материалите и задачите трябва да са добри. Записваме видеа при нужда. 
        </p>
      </div>

      <div id="engaging-teachers-card" class="col-md-6 col-xs-6 col-lg-6"> 
        <img src="{{STATIC_URL}}hackman_gifs/engaging_teachers.gif" />
      </div>
    </section>

    <section class="row">

      <div id="math-card" class="col-md-6 col-xs-6 col-lg-6" >
        <img src="{{STATIC_URL}}hackman_gifs/engaging_teachers.gif" />
      </div>

      <div class="col-md-6 col-xs-6 col-lg-6 text-card">
        <h2>Математиката и теорията са много важни за програмирането!</h2>
        <p>
        Ние обичаме математиката и я залагаме в голяма част от упражненията. Без нея, човек няма да достигне истинския си програмистки потенциал.
        </p>
      </div>
    </section>
    <section class="row">
      <div  class="col-md-6 col-xs-6 col-lg-6 text-card">
        <h2>Повече упражнения, по-малко лекции.</h2>
        <p>
        Това е нашият модифициран модел на "обърната класна стая". В едно 4-часово занятие, винаги започваме с разискване по темата, която учим. Разискването е с активното участие на всички. След това се решават задачи.
        </p>
      </div>

      <div id="more-practice-card" class="col-md-6 col-xs-6 col-lg-6" >
        <img src="{{STATIC_URL}}hackman_gifs/engaging_teachers.gif" />
      </div>
    </section>

    <section class="row">

      <div id="real-world-practice-card" class="col-md-6 col-xs-6 col-lg-6" >
        <img src="{{STATIC_URL}}hackman_gifs/engaging_teachers.gif" />
      </div>

      <div class="col-md-6 col-xs-6 col-lg-6 text-card">
        <h2>Практическа насоченост.</h2>
        <p>
          Подготвяме хората за реалния свят и реалната работа. След Хак България, нашите курсисти са готови директно да скочат в боя.
        </p>
      </div>
    </section>
    <section class="row">
      <div class="col-md-6 col-xs-6 col-lg-6 text-card">
        <h2>Работа в екип.</h2>
        <p>
        Разработката на софтуер е отборна игра. Колкото по-рано това бъде осъзнато, толкова по-добре. За това се стараем да има достатъчно работа в екип.
        </p>
      </div>

      <div id="team-work-card" class="col-md-6 col-xs-6 col-lg-6" >
        <img src="{{STATIC_URL}}hackman_gifs/engaging_teachers.gif" />
      </div>
    </section>

    <section class="row">

      <div id="moderate-competiton-card" class="col-md-6 col-xs-6 col-lg-6" >
        <img src="{{STATIC_URL}}hackman_gifs/engaging_teachers.gif" />
      </div>

      <div class="col-md-6 col-xs-6 col-lg-6 text-card">
        <h2>Умерено състезание.</h2>
        <p>
        Състезателния принцип работи. Може да го видите в повечето Академии приложен. Но когато имате чисто и просто "лагер за оцеляване на програмисти", крайният ефект е силно негативен. Както споменахме, писането на софтуер е отборна игра. А освен това, всички ние сме хора. Не виждаме смисъл в това да "нахъсваме" нашите курсисти един срещу друг. Ние вярваме в умереното състезание - по време на курсовете има предизвикателства с награди, а накрая организираме хакатон - с целта всеки да покаже какво е научил и какво може да постигне. Но в края на деня, всеки остава наясно, че с омраза към другите нищо няма да стане.
        </p>
      </div>
    </section>
  </div>

{% endblock %}
