<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Hack Bulgaria</title>

    <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/website.css" rel="stylesheet">
    <link href="/static/bower_components/swipebox/src/css/swipebox.css" rel="stylesheet">
    <link href="https://cdn.rawgit.com/konpa/devicon/89f2f44ba07ea3fff7e561c2142813b278c2d6c6/devicon.min.css" rel="stylesheet">
    <link href="/static/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
  <div id="header">
    <div class="container">
      <div class="row">
    
        <div class="col-md-3">
          <img src="{{ STATIC_URL }}website_images/hackbulgaria_logo.png" id="logo">
        </div>
       
        <!-- Navigation -->
        <ul id="main-navigation" class="col-md-7 col-md-offset-2">
          <li><a href="{% url 'website:index' %}">Начало</a></li> 
          <li><a href="{% url 'website:about' %}">Филосифия за образование</a></li>
          <li><a href="{% url 'website:courses' %}">Курсове</a></li>
          <li><a href="{% url 'website:partners' %}">Партньори</a></li>
          <!-- <li><a href="">Екип</a></li> -->
          <li><a href="http://blog.hackbulgaria.com/" target="_blank">Блог</a></li>
          <li><a href="https://education.hackbulgaria.com/" target="_blank">Вход</a></li>
        </ul>

      </div>
    </div>
  </div>
  {% block 'page-content' %}

  {% endblock %}

  <footer id="footer">
    <div id="socials">
      <a href="https://github.com/HackBulgaria/" target="_blank">
        <i class="fa fa-github fa-3x"></i>
      </a>

      <a href="https://www.facebook.com/HackBulgaria" target="_blank">
        <i class="fa fa-facebook-square fa-3x"></i>
      </a>

      <a href="https://www.youtube.com/user/HackBulgaria/feed" target="_blank">
        <i class="fa fa-youtube-play fa-3x"></i>
      </a>

      <a href="https://twitter.com/hackbulgaria" target="_blank">
        <i class="fa fa-twitter fa-3x"></i>
      </a>
    </div>

    HackBulgaria. All rights reserved.

  </footer>
  </body>
</html>
