{% extends 'website/base.html' %}

{% block 'page-content' %}
{% autoescape off %}
  <div class="container">
    <section class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        {{ snippets.courses_first_header.text }}
      </div>
    </section>

    <section class="row">
      <div class="col-lg-12">
        <p class="lead">{{ snippets.courses_first_paragraph.text }}</p>
      </div>
    </section>

    <section class="row">
      <div class="col-lg-12">
        {{ snippets.courses_second_header.text }}
      </div>
    </section>

    <hr />

    <section class="row">
      <div class="active-courses-container container-fluid">
        {% for ca in opened_course_applications %}
          {% include "website/partial/course_box.html" with course=ca.course.course %}
        {% endfor %}

        <h3>Текущи курсове:</h3>
        {% for ca in active_courses %}
        {% include "website/partial/course_box.html" with course=ca %}
        {% endfor %}

        <h3>Архив на изминали курсове:</h3>
        {% for ca in closed_course_applications %}
          {% include "website/partial/course_box.html" with course=ca.course.course %}
        {% endfor %}

      </div>
    </section>

    <section class="row">
      <div class="col-lg-12">
        {{ snippets.courses_for_more_info.text }}
      </div>
    </section>
  </div>
{% endautoescape %}
{% endblock %}
