{% extends 'website/base.html' %}

{% block 'page-content' %}

{% autoescape off %}
  <div class="container">
    <h1 class="container">{{ snippets.index_primary_description.text }}</h1>
    <p>
      {{ snippets.index_secondary_description.text }}
    </p>
  </div>
    
  <div id="faces" class="row">
    <h2 id="moto"><strong>{{success_counter}}</strong> {{ snippets.index_call_to_action.text }}</h2>
    {% for successor in successors %}
      <div class="person col-sm-2">
        <img src="/media/{{ successor.picture }}" class="person-image">
        <p class="person-description" > 
          <span class="name">{{ successor.name }}</span> <br>
          <span class="position">{{ successor.title }}</span>
        </p>
      </div>
    {% endfor %}
  </div>

  <div class="container-fluid">
    <div class="row" id="action-buttons">
      <div class="col-md-6">
        <button id="left-action">{{ snippets.index_left_button.text }}</button>
      </div>

      <div class="col-md-6">
        <button id="right-action">{{ snippets.index_right_button.text }}</button>
      </div>
    </div>
  </div>

  <div class="container-fluid" id="partners">
    <div class="row">
      <h2 class="container">{{ snippets.index_partners_description.text }}</h2>

        {% for partner in partners %}
          <div class="partner col-sm-2">
            <img src="{{ MEDIA_URL }}{{ partner.comapny.logo }}" class="partner-image">
          </div>
        {% endfor %}
    </div>
  </div>
    
  <div class="container-fluid" id="videos">
    <div class="row">
      <h2 class="container">{{ snippets.index_success_stories_description.text }}</h2>

      {% for video in videos %}
        <div class="col-md-3 video">
          <a class="swipebox-video" rel="youtube" href="{{ video.youtube_link }}">
            <img class="video-thumb" src="{{ MEDIA_URL }}{{ video.image }}">
            <img src="{{ STATIC_URL }}/website_images/play_button.png" class="play_button">
          </a>
        </div>
      {% endfor %}

    </div>
  </div>
{% endautoescape %}


    <script src="/static/bower_components/jquery/dist/jquery.js"></script>
    <script src="/static/bower_components/swipebox/src/js/jquery.swipebox.js"></script>
    <script type="text/javascript">
    ;( function( $ ) {

      $( '.swipebox-video' ).swipebox();

    } )( jQuery );
    </script>
{% endblock %}
