{% load list_utils %}

<div id="partners" class="row" align="center">
  <h2 class="container">{{ partners_heading }}</h2>
  {% for partner_row in partners|split_in_groups:'{{partners_per_row}}' %}
    <div class="row">
      {% for partner in partner_row %}
        <a class="swipebox-video" rel="youtube" href="{{ partner.video_presentation }}">
          <div class="partner col-sm-3">
            <img src="{{ MEDIA_URL }}{{ partner.comapny.logo }}" class="partner-image">
            <img src="{{ STATIC_URL }}/website_images/play_button.png" class="partners_play_button">
          </div>
        </a>
      {% endfor %}
    </div>
  {% endfor %}
</div>
