{% extends 'website/base.html' %}
{% block 'page-content' %}


  <div class="container" id="partners">
    <div class"row">
      <div class="col-lg-12 text-center">
        <p class="lead">{{ snippets.become_a_partner.text }}</p>
      </div>
    </div>
    
    {% include "website/partners_snippet.html" with partners_heading=snippets.general_partners.text partners=general_partners partners_per_row=4 %}

    {% include "website/partners_snippet.html" with partners_heading=snippets.index_partners_description.text partners=partners partners_per_row=4 %}

  </div>

    <script src="/static/bower_components/jquery/dist/jquery.js"></script>
    <script src="/static/bower_components/swipebox/src/js/jquery.swipebox.js"></script>
    <script type="text/javascript">
    ;( function( $ ) {

      $( '.swipebox-video' ).swipebox();

    } )( jQuery );
    </script>
{% endblock %}
