<div class="col-sm-12 course-box">
  <div class="col-sm-3">
    <img src="{{ MEDIA_URL }}{{ course.coursedescription.custom_logo }}" class="course-logo" >
  </div>
  <div class="col-sm-9 course-text">
    <h3 id="course-name">{{ course.name }}</h3>
    <p>
      {{ course.coursedescription.list_courses_text }}
    </p>
    <a href="{% url 'website:course_details' course.coursedescription.url %}">
      <button class="btn btn-hack-info">Научете повече</button>
    </a>
    {% if apply_button %}
      {% include "website/partial/apply_button.html" with course=course %}
    {% endif %}
  </div>

  <div class="col-sm-12 course-box-footer">
    {% if course.coursedescription.applicationinfo.apply_is_active %}
      {% if course.coursedescription.paid_course %}
        <div class="col-sm-4">Записване до: {{ course.coursedescription.applicationinfo.end_date|date:"d F Y" }}</div>
      {% else %}
        <div class="col-sm-4">Кандидатстване до: {{ course.coursedescription.applicationinfo.end_date|date:"d F Y" }}</div>
      {% endif %}
      <div class="col-sm-4">Начало на курса: {{ course.start_time }}</div>
      <div class="col-sm-4">Продължителност: {{ course.duration_in_weeks }} седмици</div>
    {% else %}
      {% if course.video_channel or course.git_repository %}
        {% if course.video_channel %}
        <div class="col-sm-6">
          Материали и задачи:
          <a href="{{ course.git_repository }}" target="_blank">GitHub</a>
        </div>
        <div class="col-sm-6">
          Видео канал:
          <a href="{{ course.video_channel }}" target="_blank">YouTube</a>

        </div>
        {% else %}
        <div class="col-sm-12">Материали и задачи:
          <a href="{{ course.git_repository }}" target="_blank">GitHub</a>
        </div>
        {% endif %}
      {% endif %}
    {% endif %}
  </div>
</div>
