{% load key %}
<div class="col-sm-12 course-box">
  <div class="col-sm-3">
    <img src="{{ MEDIA_URL }}{{ course.coursedescription.custom_logo }}" class="course-logo" >
  </div>
  <div class="col-sm-9 course-text">
    <h3 class="course-name-tasks-link" id="course-name">{{ course.name }}</h3>

    <a class="course-name-tasks-link" href="{% url 'education:course_dashboard' course.id %}">
        <button class="btn btn-warning" id="btn-tasks-link">Предай задачи</button>
    </a>


    <p>Начало на курса: <b>{{ course.start_time }}</b> <br>
       Край  на курса: <b>{{ course.end_time }}</b> <br>
       Продължителност: <b>{{ course.duration_in_weeks }}</b> седмици <br>
       <i id="course-socials" class="fa fa-github fa-3x"></i>
       <a href="{{ course.git_repository }}" target="_blank">Github repo на курса</a> <br>
       <i id="course-socials" class="fa fa-facebook-square fa-3x"></i>
       <a href="{{ course.fb_group }}" target="_blank">Facebook група на курса</a> <br>
       <div class="course-teachers col-md-2"><b>Преподаватели: </b> </div>
       <div class="course-teachers col-md-8 col-offset-3">
       {% for teacher in course.teacher_set.all %}
         {{ teacher.first_name }} {{ teacher.last_name }}, {{ teacher.email }}<br>
       {% endfor %}
     </div>
    </p>
  </div>
  <div class="col-sm-12 course-box-footer check-in-footer">
    <div class="col-sm-3 check-in">
        <b>Присъствие</b>
        <i id="btn-check-in" class="fa fa fa-chevron-down fa-1x"></i>
    </div>
    {% if course.video_channel or course.git_repository %}
      {% if course.video_channel %}
      <div class="col-sm-6">
        Видео канал:
        <a href="{{ course.video_channel }}" target="_blank">YouTube</a>

      </div>
      {% endif %}
    {% endif %}
    <div class="check-in-table hidden-toggle col-sm-12">
      <table class="table table-hover table-striped " cellspacing="0">
        <thead>
          <tr>
          </tr>
        </thead>
        <tbody>
          {% for week in weeks %}
            <tr>
              <td>Week{{week}}</td>
                {% for date in dates_for_weeks|key:week %}
                  {% if date in student_dates %}
                  <td class="check-in-date"> {{ date }} </td>
                  {% else %}
                  <td class="not-check-in-date"> {{ date }} </td>
                  {% endif %}
                {% endfor %}
            </tr>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div>
