<div class="modal fade" id="task-modal-box-{{ task.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel"><b>{{ task.name}}</b></h4>
      </div>
      <form id="submit-solution-form" method="POST" action="">
        <div class="modal-body">
          {% if task.gradable %}
            <label for="message-text" class="form-control-label">Решение на задача:</label>
            <textarea class="form-control message-text" name="code"></textarea>
          {% else %}
            <label for="message-text-2" class="form-control-label">Линк към решение на задача:</label>
            <input class="form-control" type="url" id="message-text-2" name="url"></input>
            <input type="hidden" name="task" value="{{ task.id }}">
          {% endif %}
        </div>
        <div class="modal-footer">
          {% csrf_token %}
          {% if task.gradable %}
            <button type="submit" class="btn btn-warning submit-solution" value="{{ task.id }}">Предай задача</button>
          {% else %}
            <button type="submit" class="btn btn-warning" id="submit-url-solution"2>Предай Задача</button>
          {% endif %}
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Затвори</button>
        </div>
      </form>
    </div>
  </div>
</div>
