<div class="student-notes">
  {% if ca.studentnote_set.exists %}
    {% for note in ca.studentnote_set.all %}
    <div class="note">
        <b class="note-author">{{ note.author.first_name }} {{ note.author.last_name }}:</b>
        <span class="note-text">{{ note.text }}</span>
        <div class="note-date">{{ note.post_time| date:'d-m-Y' }}
          {% if user.id == note.author.id %}
          <span id="edit-link"
          data-toggle="modal" data-target="#student-note-update-{{ student.id }}">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </span>
        {% include 'partial/update_student_note_modal.html' with student=student ca=ca.id studentnote=note %}
        {% endif %}
        </div>
    </div>
    {% endfor %}
  {% endif %}
</div>
