{% load cropping thumbnail %}
<div class="col-sm-12 student-box">
  <div class="col-sm-2">
    <img src="{% cropped_thumbnail student "cropping" %}" class="student-profile-photo" >
  </div>
  <div class="col-sm-10 student-information">
    <div class="col-sm-10 student-information-text">
      <h4 class="student-name">{{ student.first_name }} {{student.last_name}}</h4>
      <hr class="lines"/>
      <b>Email:</b> {{ student.email }} </br>
      {% if student.github_account %}
        <i class="student-social-links fa fa-github fa-3x"></i>
        <a href="{{ student.github_account }}" target="_blank">{{ student.github_account }}</a> </br>
      {% endif %}
      {% if ca.student_presence %}
        <b>Присъствие:</b> {{ ca.student_presence }}%</br>
      {% endif %}
      <div class="row">
        <div class="col-sm-6"><b>Бележки от преподаватели</b>
          <i id="btn-check-in" class="fa fa fa-chevron-down fa-1x"></i>
        </div>

      </div>

    </div>
    <div class="col-sm-2 students-course-btns">
      <button class="btn btn-warning submit-dialog-btn" data-task-name="{{student}}"
              data-toggle="modal" data-student-id="{{student.id}}"
              data-target="#student-note-{{ student.id }}">Създай бележка</button>
      {% include 'partial/student_note_modal.html' with ca=ca.id author=user course=ca.course %}
      <a href="{% url 'education:student_tasks_dashboard' course.id student.id %}">
        <button class="btn btn-warning" id="tasks-link">Задачи</button>
      </a>
    </div>
  </div>
  <div class="col-sm-12 student-box-footer student-note-footer">
          <div class="col-sm-12 student-note">
          <b>Бележки от преподаватели</b>
          <i id="btn-check-in" class="fa fa fa-chevron-down fa-1x"></i>
        </div>
          <div class="student-notes-table hidden-toggle col-sm-12">
                {% include 'partial/student_notes.html' with ca=ca %}
          </div>
  </div>
</div>
