{% load key check_date %}
<table class="table table-hover checkins-table" cellspacing="0">
  <thead>
    <tr>
    </tr>
  </thead>
  <tbody>
    {% for week in weeks %}
      <tr>
        <td><b>Седмица {{week}}</b></td>
        {% for lecture in dates_for_weeks|key:week %}
          {% if lecture in user_dates %}
            <td class="check-in-date"><b>{{ lecture }} </b></td>
          {% elif lecture|is_date_in_future %}
            <td class="future-date"><b>{{ lecture }} </b></td>
          {% else %}
            <td class="not-check-in-date"><b> {{ lecture }} </b></td>
          {% endif %}
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
